.content-center-group{
    display: flex;
    flex-direction: column;
    height: 100%; // コンテンツが親要素（.ground）の高さを占めるようにする
    justify-content: center; // コンテンツを垂直方向に中央寄せ
    align-items: center; // コンテンツを水平方向に中央寄せ

    .cancel__neko {
        margin-top: 4rem;
        margin-bottom: 1.6rem;
    }
    
    .account__deleta-text {
        margin: 0;
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
    }
    
    .btn--red {
        margin-bottom: 24px;
    }
    .btn--white{
        margin-top: 0;
    }
}

@media only screen and (max-height: 599px) {
    /* 画面の高さが600px未満の場合のスタイル */
    .content-center-group{
        display: flex;
        flex-direction: column;
        height: 100%; // コンテンツが親要素（.ground）の高さを占めるようにする
        justify-content: center; // コンテンツを垂直方向に中央寄せ
        align-items: center; // コンテンツを水平方向に中央寄せ
    
        .cancel__neko {
            margin-bottom: 1.6rem;
        }
        
        .account__deleta-text {
            margin: 0;
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
        }
        
        .btn--red {
            margin-bottom: 24px;
        }
        .btn--white{
            margin-top: 0;
        }
    }
}

@media only screen and (min-height: 600px) {
    .cancel__neko {
        margin-bottom: 24px !important;
    }
    
    .account__deleta-text {
        font-size: 20px !important;
        margin-bottom: 24px !important;
    }
    
    .btn--red {
        margin-bottom: 40px !important;
    }

}