body {
    font-family: Notosans, sans-serif;
    background-color: $main_background_color;
    width: 390px;
    height: 844px;
    margin: 0 auto; 
}

header {
    padding-top: 50px; /* ヘッダーの上部に50pxの余白を追加 */
    background-color: $background_color; /* 白い背景色を設定 */
}

.date-area {
    background-color: $header_color;
    height: 50px;
    color: $header_text_color;
    display: flex;
    align-items: center;
    justify-content: center;
}





