@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');
html{
    font-size: 10px;
    height: 100%;
}
body {
    background-color: $web_background_color;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 60px; // フッターの高さに合わせて調整
}

// main {
//     min-height: 784px; /* 最低高さを784pxに設定 */
//     /* その他のスタイル */

//     @media only screen and (max-width: 767px) {
//         /* 768pxより小さい画面では、最低高さを784pxに設定 */
//         min-height: 784px;
//     }
// }

.content {
    width: 390px; // コンテンツの幅を390pxに設定
    height: 100%;
    margin: 0 auto; // コンテンツを中央に配置
    background-color: $main_background_color; // コンテンツの背景色を設定
    position: relative; // コンテンツを相対配置にする

    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 100%;
    }
}

body, button, p, h1, h2, diarycontent, content__today-diary__text {
    font-family: 'Noto Sans JP', sans-serif;
}

.camera__area {
    height: 50px;
    background-color: $background_color;
}

header {
    background-color: $header_color;
    height: 50px;
    display: flex;
    justify-content: center; /* 子要素を水平方向に中央揃え */
    color: $header_text_color;

    
    .header__button button {
        border-radius: 5px;
        border: 0.1rem solid #FFF;
        background-color: $header_color;
        font-size: 1.4rem;
        color: #fff;

        margin-left: 24px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        width: 7.2rem; /* 72px / 10px = 7.2rem */
        height: 2.8rem; /* 28px / 10px = 2.8rem */
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        .header__text {
            display: flex;
            justify-content: center; /* 水平方向の中央揃え */
            align-items: center; /* 垂直方向の中央揃え */
            text-align: center; /* テキストを中央揃え */
            font-size: 2rem;
        }
    }
    .header__button button:hover {
        background: #00A3AE;
    }
}



.header__nowdate {
    font-size: 20% !important;
    color: $header_text_color;
    text-align: center;
    margin: 11px;
}
footer {
    position: fixed; // フッターをビューポートの最下部に配置
    bottom: 0;
    width: 390px; // フッターの幅を設定
    background-color: $background_color;
    height: 60px; // フッターの高さを50pxに設定
    overflow: hidden; // フッターの高さを超える内容を非表示にする
    align-items: center; /* 垂直方向の中央揃え */
}

.menu__list {
    width: 390px; // メニューの幅を390pxに設定
    list-style: none;
    display: flex;
    justify-content: space-around;
    // padding: 0;
    align-self: center; // 垂直方向の中央揃え

    .menu__item {
        text-align: center;
        // margin: 0; // マージンを0に設定
        max-height: 60px; // 高さを60pxに制限

        .nav-text {
            text-decoration: none !important;
            color: $footer_text_color; /* メニューテキストの色 */
            font-size: 10%; /* テキストのサイズを10%に調整 */

            .icon {
                width: 24px; /* アイコンの幅 */
                height: 24px; /* アイコンの高さ */
            }
        }
    }
}
