.week-calendar table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.week-calendar th, td {
    text-align: center;
    margin-bottom: 8px;
}

.week-calendar td {
    display: flex;
    width: 390px;
    height: 72px;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}


.week-calendar tr {
    background-color: $background_color;
    width: 390px;
    height: 72px;
}

.week-calendar th {
    background-color: $background_color;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    text-align: left;  // 追加
}

.next__button {
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.calender-week-page {
    .a--tab--left {
        a {
            background-color: #00ABB6; // active時の左側のボタンの背景色を黒に設定
            color: #FFF; // active時の左側のボタンのテキスト色を白に設定
        }
    }
}