// カレンダーページネーション
.next__button {
    // margin-top: 16px;
    // margin-bottom: 12px;
    margin-left: 24px;
}

// 週間カレンダータブ
.calender-week-page {
    .a--tab--left {
        a {
            background-color: #00ABB6; // active時の左側のボタンの背景色を黒に設定
            color: #FFF; // active時の左側のボタンのテキスト色を白に設定
        }
    }
}

// 週間カレンダーテーブル
.week-calendar__table{
    width: 100%;
    // table-layout: fixed; /* テーブルのレイアウトを固定にする */
    table-layout: auto; // 可変にする
    height: calc(100vh - 215px);
    background-color: #fff;
    overflow-y: scroll;
}
// スクロールバー背景色
.week-calendar__tablee::-webkit-scrollbar {
    background-color: transparent;
    // スクロールバーの幅を調整
    width: 2px;
    // height: 2px;
    // 角丸を指定
    border-radius: 20px;
}
// スクロールボタン
.week-calendar__table::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    // 角丸を指定
    border-radius: 20px;
    // padding-left: 2.4rem;
}
// スクロールバー（hover時）
.week-calendar__table::-webkit-scrollbar-thumb:hover {
    background-color: rgb(173, 173, 173);
}

// 月間・週間カレンダーテーブルの日付、曜日
th, td {
    text-align: center;
    box-sizing: border-box; // 要素の横幅や高さの計算にボーダーボックスモデルを使用。ボーダーやパディングも横幅や高さに含む。
}

// 週間カレンダーテーブルの日付、曜日
.week-calendar__today, .week-calendar__date{
    vertical-align: bottom;
    width: 80px;
    // height: 38px;
    padding-top: 8px;
    padding-bottom: 0;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
}
// 週間カレンダー曜日
.week-calendar__week, .week-calendar__week__today{
    vertical-align: top;
    min-width: 80px;
    // height: 38px;
    // padding-top: 5px;
    // padding-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 8px;
}
// 週間カレンダー画像
.week-calendar__emotion-img{
    width: 30px;
    height: 30px;
}
// 週間カレンダー日記テキスト
.week-calendar__diary{
    position: relative;  // 子要素の位置指定の基準点
    // height: 76px;
    text-align: left;
    font-size: 1.6rem;
    color: #A29C9C;
}
// 週間カレンダー2列目
.week-calendar__diary__flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 週間カレンダー 現在の日付のスタイル
.week-calendar__today, .week-calendar__week__today{
    background-color: $header_color;
    color: #ffffff;
}

// 週間カレンダー下線
.week-calendar__week,.week-calendar__diary,.week-calendar__week__today, .week-calendar__diary__missing_date {
    border-bottom: 3px solid $main_background_color;
    // border-bottom: 3px solid #e4fbfd;
}

// 週間カレンダー リンク
.week-calendar__table__a{
    position: absolute;  // 親要素（.week-calendar__diary）に対して絶対位置指定
    top: 0;  // クリック範囲を親要素全体にするために親要素の上下左右の位置を0
    right: 0;
    bottom: 0;
    left: 0;
    display: flex; // 垂直方向に中央寄せ
    flex-direction: column;
    justify-content: center;
    height: 100%; // 親要素.week-calendar__diaryの全高さを占める
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    color: #A29C9C;
}
// 週間カレンダー リンクをホバーした時のスタイル
.week-calendar__diary{
    cursor: pointer;
    &:hover{
        background-color: $setting_menu_hover;
    }
}

// 週間カレンダー 曜日の色
.sun{
    color: #FC8686;
}
.sat{
    color: #0094FF;
}

// スマホのみ適用
@media only screen and (max-width: 480px){
// @media only screen and (min-height: 600px) {
    // 週間カレンダーテーブル
    // .week-calendar__table{
    //     margin-bottom: 10px;
    //     height: calc(100vh - 285px); // ビューポートの高さからヘッダーとフッターの高さを引いた値をテーブルの高さとして設定
    // }
    // 週間カレンダー下線
    .week-calendar__week,.week-calendar__diary,.week-calendar__week__today {
        border-bottom: 5px solid $main_background_color;
    }
}