.calendar__ground{
    margin-top: 60px;
    overflow-y: scroll;
    background-color: $background_color;
}
// スクロールバー背景色
.calendar__ground::-webkit-scrollbar {
    background-color: transparent;
    // スクロールバーの幅を調整
    width: 2px;
    // height: 2px;
    // 角丸を指定
    border-radius: 20px;
}
// スクロールボタン
.calendar__ground::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    // 角丸を指定
    border-radius: 20px;
    // padding-left: 2.4rem;
}
// スクロールバー（hover時）
.calendar__ground::-webkit-scrollbar-thumb:hover {
    background-color: rgb(173, 173, 173);
}

.calender-month-page {
    .a--tab--left {
        a {
            background-color: #00ABB6; // active時の左側のボタンの背景色を黒に設定
            color: #FFF; // active時の左側のボタンのテキスト色を白に設定
        }
    }
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;

    .calendar-header__select-date{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.04em; // remより広めの文字間隔を設定
        margin: 0;
    }

    .a--blue{
        margin-right: 24px;

        .a--blue a {
            display: flex;
            align-items: center;
        }
    }
}

.calendar__month {
    overflow: auto; /* カレンダーが横に広がった場合にスクロール可能にする */
    //height: auto; /* コンテンツに基づいて高さを調整できるように固定の高さを削除 */


    table {
        width: 100%;
        table-layout: fixed; /* テーブルのレイアウトを固定にする */
        height: calc(100vh - 215px); // ビューポートの高さからヘッダーとフッターの高さを引いた値をテーブルの高さとして設定
    }

    th, td {
        text-align: center;
        box-sizing: border-box; // 要素の横幅や高さの計算にボーダーボックスモデルを使用。ボーダーやパディングも横幅や高さに含む。
    }

    th {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .sun {
        color: #FC8686;
    }
    .sat {
        color: #0094FF;
    }

    td {
        position: relative;  // テーブルセルを相対位置に設定
        border: 1px solid $header_color;
        height: 52.6px; // クリック範囲を追加後、行が潰れたため追加

        .calendar__month--today-td{
            background-color: $header_color;
            width: 100%;
            // border-radius: 50px;
            color: #ffffff;
        }
        .calendar__month--today-td, .calendar__month__td{
            position: absolute;  // テキストを絶対位置に設定
            top: 0;  // 上部に配置
            left: 50%;  // 水平方向に中央に配置
            transform: translateX(-50%);  // 水平方向に中央に配置
            margin: 0;
            // margin-top: 2px;
            font-size: 12px;
        }
        // クリック範囲を追加
        a {
            display: block;
            position: relative;  // img要素を中央に配置するため
            height: 100%;  // 高さを固定
            padding: 22px;  // クリック範囲を広げるため追加
            box-sizing: border-box;  // paddingを含めたサイズを元のサイズとする
            &:hover{
                background-color: rgba(217, 217, 217, 0.43);;
            }
        }
        .calendar__month__img{
            position: absolute;
            top: 50%;  // p要素の下部から50%の位置に配置
            left: 50%;
            transform: translate(-50%, 0);
            // margin-bottom: 10px;// クリック範囲を追加したしたため削除
            max-width: 18px;
            max-height: 18px;  // 画像の高さを制限
        }
    }
}

@media only screen and (min-height: 600px) {
    // .calendar__month {
    //     table {
    //         height: calc(100vh - 290px) !important; // 421px?
    //     }
    // }

    .calendar__month--today-td, .calendar__month__td {
        font-size: 18px !important;
        padding: 8px 0 !important;
    }
    .calendar__month__img{
        max-width: 22px !important;
        max-height: 22px !important;
    }
    .calendar__month__img{
        top: 55%  !important;  // p要素の下部から50%の位置に配置
    }
}
@media only screen and (max-width: 376px) {
    .calendar__month--today-td, .calendar__month__td {
        padding: 0 !important;
    }
}