// main.groundvground--blue {
// background-color: $main_background_color;
// }

// .calendar--background calender-week-page {
//     background-color: $main_background_color;
// }

// .calendar-header {
//     width: 100%;
//     height: 44px;
//     margin-bottom: 12px;
// }

// .week-calendar table {
//     border-collapse: collapse;
//     border-spacing: 0;
//     width: 100%;
//     height: 100%;
//     table-layout: fixed;
// }

// .week-calendar th, td {
//     text-align: center;
//     margin-bottom: 8px;
// }

// .week-calendar td {
//     display: flex;
//     width: 390px;
//     height: 72px;
//     align-items: flex-start;
//     gap: 40px;
//     flex-shrink: 0;
// }


// .week-calendar tr {
//     // background-color: $background_color;
//     width: 390px;
//     height: 72px;
// }

// .week-calendar td {
//     background-color: $background_color;
// }

// .week-calendar th {
//     // background-color: $background_color;
//     color: black;
//     font-size: 1.4rem;
//     font-weight: 400;
//     line-height: normal;
//     text-align: left;  // 追加
// }

.next__button {
    // margin-top: 16px;
    // margin-bottom: 12px;
    margin-left: 24px;
}

.calender-week-page {
    .a--tab--left {
        a {
            background-color: #00ABB6; // active時の左側のボタンの背景色を黒に設定
            color: #FFF; // active時の左側のボタンのテキスト色を白に設定
        }
    }
}

.week-calendar__table{
    width: 100%;
    // table-layout: fixed; /* テーブルのレイアウトを固定にする */
    table-layout: auto; // 可変にする
    background-color: #fff;
}
th, td {
    text-align: center;
    box-sizing: border-box; // 要素の横幅や高さの計算にボーダーボックスモデルを使用。ボーダーやパディングも横幅や高さに含む。
}

// サイズ   
.week-calendar__today, .week-calendar__date{
    vertical-align: bottom;
    width: 80px;
    height: 38px;
    // padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
}
.week-calendar__week, .week-calendar__week__today{
    vertical-align: top;
    min-width: 80px;
    height: 38px;
    // padding-top: 5px;
    // padding-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.week-calendar__emotion-img{
    width: 36px;
    height: 36px;
}
.week-calendar__diary{
    position: relative;  // 子要素の位置指定の基準点
    height: 76px;
    text-align: left;
    font-size: 1.6rem;
    color: #A29C9C;
}
.week-calendar__diary__flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 現在の日付のスタイル
.week-calendar__today, .week-calendar__week__today{
    background-color: $header_color;
    color: #ffffff;
}

// 下線
.week-calendar__week,.week-calendar__diary,.week-calendar__week__today {
    border-bottom: 3px solid $main_background_color;
    // border-bottom: 3px solid #e4fbfd;
}

// リンク
.week-calendar__table__a{
    position: absolute;  // 親要素（.week-calendar__diary）に対して絶対位置指定
    top: 0;  // クリック範囲を親要素全体にするために親要素の上下左右の位置を0
    right: 0;
    bottom: 0;
    left: 0;
    display: flex; // 垂直方向に中央寄せ
    flex-direction: column;
    justify-content: center;
    height: 100%; // 親要素.week-calendar__diaryの全高さを占める
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    color: #A29C9C;
}
.week-calendar__diary{
    cursor: pointer;
    &:hover{
        background-color: $setting_menu_hover;
    }
}

.sun{
    color: #FC8686;
}
.sat{
    color: #0094FF;
}

@media only screen and (min-height: 600px) {
    .week-calendar__table{
        height: calc(100vh - 215px); // ビューポートの高さからヘッダーとフッターの高さを引いた値をテーブルの高さとして設定
    }
    // 下線
    .week-calendar__week,.week-calendar__diary,.week-calendar__week__today {
        border-bottom: 5px solid $main_background_color;
    }
}