@mixin button-style {
    width: 100%; /* ボタンを親要素と同じ幅に広げる */
    height: 100%; /* ボタンを親要素と同じ高さに広げる */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px; /* パディングをここに移動 */
    border: none; /* ボタンのデフォルトのボーダーを削除 */
    background: transparent; /* 背景を透明にする */
    cursor: inherit; /* 親要素のカーソルスタイルを継承する */
    border-radius: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center; /* 中央寄せを追加 */
    cursor: pointer; /* カーソルをポインターに変更することでクリッカブルであることを示す */

    &--large {
        width: 342px;
        height: 48px;

        button {
            @include button-style;
            
            background: var(--custom-color, #00ABB6);
            color: #FFF;
            font-size: 1.6rem;

            &:hover {
                background-color: $btn_large_button_hover; /* マウスをかざしたときの背景色 */
            }
        }
    }

    &--white {
        width: 342px;
        height: 48px;
        
        button {
            @include button-style;
            
            background: var(--custom-color, #FFF);
            color: var(--, #00ABB6);
            font-size: 1.6rem;

            &:hover {
                background-color: $cancel_button_hover; /* マウスをかざしたときの背景色 */
            }
        }
    }

    &--red {
        width: 342px;
        height: 48px;

        button {
            @include button-style;
            
            background: var(--custom-color, #FF4747);
            color: #FFF;
            font-size: 1.6rem;

            &:hover {
                background-color: $red_btn_hover; /* マウスをかざしたときの背景色 */
            }
        }
    }
}

.content__home__text {
    position: relative; // 追加
    fill: $background_color;
    stroke-width: 2px;
    stroke: $header_color;
    width: 340px;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px; // テキストと吹き出しの間に余白を追加
    background-color: $background_color; // 吹き出しの背景色を白に変更
    border: 2px solid $header_color; // 枠線を追加    
    border-radius: 10px; // 吹き出しの角を丸くする

  // 吹き出しの中のpタグにスタイルを適用
    p {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;
    }
    
    // 吹き出しの尾部分の枠線を作成
    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%; // 中央に設置
        transform: translateX(-50%); // 中央揃えの調整        
        border-width: 20px; // 尾部分を大きくする
        border-style: solid;
        border-color: #04CAD6 transparent transparent transparent;
    }
    
    // 吹き出しの尾部分の中を作成
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%; // 中央に設置
        transform: translateX(-50%); // 中央揃えの調整        
        border-width: 18px; // ::beforeより2px小さくする
        border-style: solid;
        border-color: #FFFFFF transparent transparent transparent; // 中を白色にする
    }
}

// .icon__button{
//     display: inline-flex;
//     height: 46px;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     flex-shrink: 0;
// }
.setting__menu ul{
    list-style: none; /* リストアイテムのマーカーを非表示にする */

    a {
        display: flex;
        width: 342px;
        height: 61.273px;
        padding-bottom: 0px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid #A29C9C;
        background: #FFF;
        color: #000;
        font-size: 1.6rem;
        letter-spacing: 0.8px;
        text-decoration: none;

            img {
                width: 1px;
                height: 0px;
                flex-shrink: 0;
            
        }
    }
}

.setting__menu ul li a:hover {
    background-color: $setting_menu_hover; /* マウスをかざしたときの背景色 */
}

.a--blue {
    display: flex;
    width: 72px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    p {
        color: $a_blue_button;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.64px;
        display: inline-block;
        margin: 0;
        padding: 0 0 7px 0;
        vertical-align: middle;
    }

    svg {
        vertical-align: middle;
        margin-bottom: 5px;  // SVG要素の下側マージンを4pxに設定
    }

    &:hover {
        p {
            color: $a_blue_button_hover;  // ホバー時のテキスト色を変更
        }
        text-decoration: none;
        background-image: linear-gradient($a_blue_button_hover, $a_blue_button_hover);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: 0 calc(100% - 3px);
        img {
            fill: $a_blue_button_hover;
        }
    }
}

.a--tab {
    display: flex; // 追加
    text-align: center; // 追加
    margin: 16px 30px;
    margin-bottom: 12px;

    &--left {
        width: 174px;
        height: 33px;

        a {
            @include button-style;
            
            color: #FFF;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.24px;
            border-radius: 9.057px 0 0 9.057px; // 左側だけに角丸を設定
            box-shadow: inset 0 0 0 2px $button_hover_color; // 内側に2pxの線を追加
            background: $button_hover_color;
            // box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
                &.active {
                    background-color: var(--custom-color, #00ABB6);
                    color: #FFF;
            // &:hover {
            //     background-color: $cancel_button_hover; /* マウスをかざしたときの背景色 */
            // }
            }
        }
    }

    &--right {
        width: 174px;
        height: 33px;

        a {
            @include button-style;
            color:#00ABB6;
            font-size: 1.2rem;
            border-radius: 0 9.057px 9.057px 0; // 右側だけに角丸を設定
            box-shadow: inset 0 0 0 2px $button_hover_color; // 内側に2pxの線を追加
            background: var(--custom-color, #FFF);

            &:hover {
                background-color: rgba(65, 60, 60, 0.078)/* マウスをかざしたときの背景色 */
            }
            
                &.active {
                    background-color: #FFF;
                    color: var(--, #00ABB6);
            }
        }
    }
}

.next__button a {
    display: inline-block;
    border: 2px solid #000; /* 四角の枠線 */
    padding: 10px; /* 画像と枠線の間の余白 */
    text-decoration: none; /* リンクの下線を消す */
}

.next__button a img {
    display: block;
    height: auto; /* 高さは自動 */
}