// .content__today-diary__text{
//     width: 100%;
//     background-color: $background_color;
//     padding: 24px;
//     margin-bottom: 24px;
//     box-shadow: 0px 2px 2px 0px rgba(4, 202, 214, 0.15);
//     //outline: 0; // フォーカス時の枠線を削除
//     p{
//         text-align: left;
//         margin: 0;
//         margin-bottom: 24px;
//     }
//     .content__today-diary__img{
//         margin-top: 10px;
//         display: flex;
//         flex-wrap: wrap; // 子要素を折り返し、複数行に上から下へ並べる
//         justify-content: space-between; // 子要素を左右に均等に配置
//         align-items: flex-start; // 親要素の開始位置から配置。上揃え
//         align-content: flex-start; // 複数行にした時、上揃え

//         .content__today-diary__item{
//             // 動画があれば追加　margin-bottom: 10px;
//             flex: 1; /* 各画像が等しい幅になるように設定 */
//             object-fit: cover; /* 画像を正方形にする */
//             height: 78px; /* 任意の高さを設定 */
//             //margin-right: 10px; /* 画像間の余白を調整 */
//         }
//     }
// }

// .content__diary__comment {
//     position: relative; // 追加
//     fill: $background_color;
//     stroke-width: 2px;
//     stroke: $header_color;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 10px;
//     // width: 100%;
//     // height: auto;
//     margin: 0 24px 24px 24px;
//     padding: 20px; // テキストと吹き出しの間に余白を追加
//     background-color: $background_color; // 吹き出しの背景色を白に変更
//     border: 2px solid $header_color; // 枠線を追加    
//     border-radius: 10px; // 吹き出しの角を丸くする

//     p{
//         text-align: left;
//         margin: 0;
//         line-height: 1.7rem;
//         letter-spacing: 0.04rem;
//     }
    
//     // 吹き出しの尾部分の枠線を作成
//     &::before {
//         content: "";
//         position: absolute;
//         top: 100%;
//         left: 50%; // 中央に設置
//         transform: translateX(-50%); // 中央揃えの調整        
//         border-width: 20px; // 尾部分を大きくする
//         border-style: solid;
//         border-color: #04CAD6 transparent transparent transparent;
//     }
    
//     // 吹き出しの尾部分の中を作成
//     &::after {
//         content: "";
//         position: absolute;
//         top: 100%;
//         left: 50%; // 中央に設置
//         transform: translateX(-50%); // 中央揃えの調整        
//         border-width: 18px; // ::beforeより2px小さくする
//         border-style: solid;
//         border-color: #FFFFFF transparent transparent transparent; // 中を白色にする
//     }
// }

.btn--blue, .btn--white{
    margin: 24px auto 40px auto;
    box-sizing: border-box; // パディングとボーダーを幅と高さに含める
}

// ポップアップのスタイル
.popup__inner{
    margin: auto; // いったん
    margin-right: 24px;
    margin-left: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
}
// 吹き出し
.popup__text{
    position: relative; // 追加
    display: flex;
    flex-direction: column; // 子要素を縦に並べる
    align-items: flex-start;
    max-height: 131px;
    padding: 20px; // テキストと吹き出しの間に余白を追加
    background-color: $background_color; // 吹き出しの背景色を白に変更
    border: 2px solid #FFD4E0; // 枠線を追加    
    border-radius: 10px; // 吹き出しの角を丸くする

    p, .popup__text--second{
        text-align: center;
        margin: 0 auto;
        line-height: 170%;
        letter-spacing: 0.04rem;
    }
    .popup__text--second{
        font-size: 1.4rem;
        .popup__text--second__border{
            letter-spacing: 0.04rem;
            font-weight: 700;
            background:linear-gradient(transparent 90%, #FF5B5B 60%); // マーカー
        }
    }
    
    // 吹き出しの尾部分の枠線を作成
    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%; // 中央に設置
        transform: translateX(-50%); // 中央揃えの調整        
        border-width: 20px; // 尾部分を大きくする
        border-style: solid;
        border-color: #FFD4E0 transparent transparent transparent;
    }
    
    // 吹き出しの尾部分の中を作成
    &::after {
        content: "";
        position: absolute;
        // 100%から変更
        top: 99%;
        left: 50%; // 中央に設置
        transform: translateX(-50%); // 中央揃えの調整        
        border-width: 18px; // ::beforeより2px小さくする
        border-style: solid;
        border-color: #FFFFFF transparent transparent transparent; // 中を白色にする
    }
}
.popup__img{
    display: block;
    margin: 24px auto;
    width: 124px;
    height: auto;
}
// ボタン
.btn--popup{
    button{
        width: 100%;
        margin: 0 0 40px 0;
        padding: 10px 0;
        cursor: pointer;
        border: none;
        background-color: #00ABB6;
        border-radius: 50px;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.04rem;

        &:hover {
            background-color: $btn_large_button_hover;
        }
    }
}
.gray__button {
    cursor: pointer;
    text-align: center;
    button{
        // スタイルをリセット
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;

        padding: 10px;
        margin: 0 auto;
        color: #A29C9C;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.64px;
        &:hover {
            color: #797979;
            text-decoration: underline;
            text-decoration-color: #797979; // 下線の色
        }
        .gray__button--icon{
            margin-right: 5px;
            margin-bottom: 3px;
            fill: #A29C9C;
        }
        &:hover {
            .gray__button--icon{
                fill: #797979;
            }
        }
    }
}