.created-date_update{
    display: block;
    padding: 10px;
    background-color: #FFF;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.04em;
}

.backcolor.checked {
    background-color:  #808080; 
}