// 中央寄せ
.member__scroll--content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; // 子要素を縦方向に並べる
}

// h3要素
.member__header-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-top: 40px;
    margin-bottom: 16px;
}

// 本文
.member__content-text, .member__red-text {
    font-size: 1.6rem;
    line-height: 170%;
    letter-spacing: 0.64px;
    margin-top: 0;
    margin-bottom: 16px;
}
// sapn要素
.highlight {
    font-weight: 700;
}
// 注意書き
.member__red-text {
    color: #F00;
    margin-bottom: 24px;
}
// 画像
.member__neko {
    margin-top: 24px;
    margin-bottom: 24px;
}
.info__date {
    color: #333;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-top: 20px;
}
.info__date p {
    margin-bottom: 10px;
}
// 確認文
.member-text__content {
    text-align: center;
    font-size: 1.4rem;
    line-height: 170%; /* 23.8px */
    letter-spacing: 0.28px;
    margin-top: 0;
    margin-bottom: 40px;
}

// // スマホまたは、全画面表示時のみ適用
@media only screen and (min-height: 600px) {
    .member__scroll--content {
        height: 100%; // 垂直に中央揃えするために必要
    }
}