.cancel__neko__img {
    margin-top: 115px;
    margin-bottom: 40px;
}

.content__member-info__cancel-text {
    color: #000;
    text-align: center;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;

    p {
        margin-bottom: 10px;
    }
}

.account__deleta-text {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 34px */
    letter-spacing: 0.8px;
    margin-bottom: 24px;// ここに希望の間隔を指定します

}

.btn--blue--info {
    margin-bottom: 25px;
    margin-top: 40px;
}

.btn--white {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}