main {
background-color: $background_color;
}

.img-inu {
    // position: relative;
    margin-top: 375px;
    margin-left: 51px;
}

.counseling-neko {
    // position: relative;
    margin-top: 300px;
    margin-left: 2px;
}

.img-neko {
    // position: relative;
    margin-top: 300px;
    margin-left: 4px;
}