// 作成日
.today-diary__graph__created-date{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 16px;
}

// グラフ全体の枠
.content__today-diary__graph{
    width: 100%;
    background-color: $background_color;
    padding: 16px 24px 16px 24px;
    margin-bottom: 24px;
    border-top: 1px solid rgba(4, 202, 214, 0.15);
    box-shadow: 0px 2px 2px 0px rgba(4, 202, 214, 0.15);
}