.content__today-diary__graph{
    width: 100%;
    background-color: $background_color;
    padding: 16px 24px 16px 24px;
    margin-bottom: 24px;
    border-top: 1px solid rgba(4, 202, 214, 0.15);
    box-shadow: 0px 2px 2px 0px rgba(4, 202, 214, 0.15);

    // .circle__graph__img{
    //     position: relative;
    //     #myPieChart{
    //         width: 50%;
    //         height: auto;
    //     }
    //     #popup{
    //         position: absolute;
    //         display: none;
    //         background-color: rgba(255, 255, 255, 0.7);
    //         border: 1px solid #000;
    //         padding: 10px;
    //     }
    // }
}