$main_background_color: #EEFEFF;
$header_color: #04CAD6;
$button_hover_color: #00ABB6;
$background_color: #FFFFFF;
$header_text_color: #FFFFFF;
$footer_text_color: #ADADAD;
$web_background_color: #FFFDF3;
$btn_large_button_hover: #00909A;
$cancel_button_hover: #EAEAEA;
$setting_menu_hover: #EAEAEA;
$red_btn_hover: #E32B2B;