@charset "UTF-8";
body {
  background-color: #EEFEFF;
  width: 390px;
  height: 844px;
  margin: 0 auto;
}

body, button, p, h1, h2, diarycontent, content__today-diary__text {
  font-family: "Noto Sans JP", sans-serif;
}

.camera__area {
  height: 50px;
  background-color: #FFFFFF;
}

header {
  background-color: #04CAD6;
  height: 50px;
  display: flex;
}
header button {
  margin-left: 24px;
  margin: 11px;
}

.header__nowdate {
  font-size: 20% !important;
  color: #FFFFFF;
  text-align: center;
  margin: 11px;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.menu__list .menu__item {
  text-align: center;
}
.menu__list .menu__item .nav-text {
  text-decoration: none !important;
  color: #ADADAD; /* メニューテキストの色 */
  font-size: 10%; /* テキストのサイズを10%に調整 */
}
.menu__list .menu__item .nav-text .icon {
  width: 24px; /* アイコンの幅 */
  height: 24px; /* アイコンの高さ */
}