@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Zen+Maru+Gothic:wght@500&display=swap");
html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background-color: #FFFDF3;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

header, .content, footer {
  width: 39rem;
}

.content {
  margin: 0 auto;
  padding-top: 5rem; /* ヘッダーの高さ */
  padding-bottom: 6rem; /* フッターの高さ */
  background-color: #EEFEFF;
}

main {
  overflow-y: scroll; /* コンテンツが画面外になった場合にスクロールバーを表示 */
  height: calc(100vh - 11rem); /* ビューポートの高さからヘッダーとフッターの高さを引いたもの */
}

header {
  position: fixed;
  top: 0;
  color: #FFFFFF;
  background-color: #04CAD6;
  height: 5rem; /* 50px / 10px = 5rem */
  padding-left: 2.4rem; /* 画面の両端に24pxのパディングを追加 */
  padding-right: 2.4rem;
  display: flex;
  justify-content: center; /* 子要素を水平方向に中央揃え */
  justify-content: space-between;
  align-items: center; /* 垂直方向の中央揃え */
}
header a {
  display: flex;
  padding: 0.5rem 1.6rem 0.5rem 1.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  min-width: 72px;
  min-height: 28px;
  border-radius: 5px;
  border: 0.1rem solid #FFF;
  background-color: #04CAD6;
}
header svg {
  display: inline-block; /* インラインブロック要素にすることで、行内要素のように振る舞う */
  vertical-align: middle; /* ボタン内で垂直方向に中央揃えにする */
  margin-right: 0.4rem;
}
header p {
  font-size: 2rem;
  flex-grow: 1; /* テキストが全体の中央揃えになるようにする */
  text-align: center;
}
header a:hover {
  background-color: #00A3AE;
}

.header__nowdate {
  font-size: 20% !important;
  color: #FFFFFF;
  text-align: center;
  margin: 11px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  height: 6rem;
  overflow: hidden;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__list .menu__item {
  align-items: center;
  justify-content: center; /* 子要素を水平方向に中央揃え */
}
.menu__list a {
  width: 60px;
}
.menu__list a .nav-text {
  margin-top: 4px;
  color: #ADADAD; /* メニューテキストの色 */
  font-size: 1rem; /* テキストのサイズを10%に調整 */
}

<<<<<<< HEAD
.btn {
=======
@media only screen and (max-width: 767px) {
  .content {
    width: 100%;
    height: 100%;
  }
  header {
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
.btn-large {
>>>>>>> ba12c2982c109e6e166611c0d84434dedb925adc
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  text-align: center; /* 中央寄せを追加 */
  cursor: pointer; /* カーソルをポインターに変更することでクリッカブルであることを示す */
}
.btn--large {
  width: 342px;
  height: 48px;
}
.btn--large button {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  background: var(--custom-color, #00ABB6);
  color: #FFF;
  font-size: 1.6rem;
}
.btn--large button:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}
.btn--white {
  width: 342px;
  height: 48px;
}
.btn--white button {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  background: var(--custom-color, #FFF);
  color: var(--, #00ABB6);
  font-size: 1.6rem;
}
.btn--white button:hover {
  background-color: #EAEAEA; /* マウスをかざしたときの背景色 */
}
.btn--red {
  width: 342px;
  height: 48px;
}
.btn--red button {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  background: var(--custom-color, #FF4747);
  color: #FFF;
  font-size: 1.6rem;
}
.btn--red button:hover {
  background-color: #E32B2B; /* マウスをかざしたときの背景色 */
}

.content__home__text {
  position: relative;
  fill: #FFFFFF;
  stroke-width: 2px;
  stroke: #04CAD6;
  width: 340px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 2px solid #04CAD6;
  border-radius: 10px;
}
.content__home__text p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.content__home__text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: #04CAD6 transparent transparent transparent;
}
.content__home__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 18px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
}

.setting__menu ul {
  list-style: none; /* リストアイテムのマーカーを非表示にする */
}
.setting__menu ul a {
  display: flex;
  width: 342px;
  height: 61.273px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #A29C9C;
  background: #FFF;
  color: #000;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  text-decoration: none;
}
.setting__menu ul a img {
  width: 1px;
  height: 0px;
  flex-shrink: 0;
}

.setting__menu ul li a:hover {
  background-color: #EAEAEA; /* マウスをかざしたときの背景色 */
}

.scroll--box {
  height: 73.4rem;
  overflow: auto;
}
.scroll--box .scroll--content {
  background-color: #fafafa;
}

.scroll-box::-webkit-scrollbar {
  background: rgba(239, 239, 239, 0.6078431373);
  width: 5px;
  height: 5px;
  border-radius: 20px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: rgb(173, 173, 173);
}

<<<<<<< HEAD
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

th, td {
  text-align: center;
  margin-bottom: 8px;
}

td {
  display: flex;
  width: 390px;
  height: 72px;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}

tr {
  background-color: #FFFFFF;
  width: 390px;
  height: 72px;
}

th {
  background-color: #FFFFFF;
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  text-align: left;
=======
.photomv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.photomv img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.calendar--background {
  background-color: #FFFFFF;
}

.calendar__month td {
  border: 1px solid #04CAD6;
  width: 5.5rem;
  height: 6.6rem;
>>>>>>> ba12c2982c109e6e166611c0d84434dedb925adc
}