{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'assets/icon.png' %}" />
    <!--mystyle-->
    <link rel="stylesheet" href="{% static 'diary/css/sanitize.css' %}">
    <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">
    <style>
        .nav-item {
            cursor: pointer;
        }
        .active {
            color: #007880;
        }
    </style>
</head>
<body>

    <main>
        {% block header %}{% endblock %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <div id="icon" class="nav-item" onclick="changeColor('icon')">

                                <img src="{% static 'diary/assets/home.png' %}" alt="ホームの画像">
                        </div>
                        <div id="text" class="nav-item" onclick="changeColor('text')">ホーム<!--</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="main__month">

                                <img src="{% static 'diary/assets/mouth.png' %}" id="icon" class="icon" onclick="changeIconColor()" alt="月間カレンダーの画像">
                                月<!--</a>-->
                        </div>
                    </li>
                    <li>
                        <div class="main__week">

                                <img src="{% static 'diary/assets/week.png' %}" id="icon" class="icon" onclick="changeIconColor()" alt="週間カレンダーの画像">
                                週<!--</a>-->
                        </div>
                    </li>
                    <li>
                        <div calss="main__setting">

                                <img src="{% static 'diary/assets/setting.png' %}" id="icon" class="icon" onclick="changeIconColor()" alt="歯車の画像">
                                設定<!--</a>-->
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <script>
        function changeColor(id) {
            const element = document.getElementById(id);
            element.classList.add('active');
        }
    </script>

    {% block js %}
    {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
    {% endblock %}
</body>
</html>
