{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'diary/assets/icon.png' %}" />
    <!--mystyle-->
    <link rel="stylesheet" href="{% static 'diary/css/sanitize.css' %}">
    <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDummV9aw8Ned2gn7EwN-SgkIyuV0RdLSA&language=ja" async defer></script>
    <style>
        html { height: 100% }
        body { height: 100% }
        #map { height: 100%; width: 100% }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap" rel="stylesheet">
    <style>
        .nav-item {
            cursor: pointer;
        }
        .active {
            color: #007880;
        }
    </style>
</head>
<body>

    <main>
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="menu">
            <nav>
                <ul class="menu__list">
                    <li class="menu__item">
                        <div id="icon" class="nav-item" onclick="changeColor('icon')">
                            <a href="{% url 'diary:create_diary' %}">
                                <img src="{% static 'diary/assets/home.png' %}" alt="ホームの画像">
                                <div id="text" class="nav-text" onclick="changeColor('text')">ホーム</div>
                            </a>
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="main__month">
                            <div id="icon" class="nav-item" onclick="changeColor('icon')">
                                <a href="{% url 'diary:calender_month' %}">
                                    <img src="{% static 'diary/assets/month.png' %}" alt="月間カレンダーの画像">
                                    <div id="text" class="nav-text" onclick="changeColor('text')">月</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="main__week">
                            <div id="icon" class="nav-item" onclick="changeColor('icon')">
                                <a href="{% url 'diary:calender_week' %}">
                                    <img src="{% static 'diary/assets/week.png' %}" alt="週間カレンダーの画像">
                                    <div id="text" class="nav-text" onclick="changeColor('text')">週</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <div calss="main__setting">
                            <div id="icon" class="nav-item" onclick="changeColor('icon')">
                                <a href="{% url 'diary:setting' %}">
                                    <img src="{% static 'diary/assets/setting.png' %}" alt="設定の画像">
                                    <div id="text" class="nav-text" onclick="changeColor('text')">設定</div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <script>
        function changeColor(id) {
            const element = document.getElementById(id);
            element.classList.add('active');
        }
    </script>

    {% block js %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
