<!--アカウント削除実行画面-->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>アカウント削除</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}

<p class="deleta__success__title">アカウントが削除されました</p>

<!-- ネコココメント -->
<div class="deleta__success-text">
    <p>ご利用ありがとうございましたにゃ</p>
</div>

<!-- ネココの画像 -->
<div class="content__today-diary__comment__img">
    {% comment %} <img src="{% static'diary/assets/member_neko.png' %}" alt="ネココの画像"> {% endcomment %}
</div>

<div class="button">
    {% comment %} user/account_top.htmlに遷移させてください {% endcomment %}
    <button id="save-button" type="submit" onclick="location.href='{% url '' %}'">トップページへ</button>
    <a href="{% url 'user:account_top' %}">トップページへ</a>
</div>
    
{% endblock %}