<!--アカウント削除実行画面-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}アカウント削除完了{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>設定</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white"><!-- 追加した要素 -->
    <div class="content-center">

        <div class="content__home">
            <p class="account__delete__success__title">アカウントを削除しました</p>

            <div class="content__home__text">
                <p>またのご利用を待ってるにゃ</p>
            </div>

            <!-- ネココの画像 -->
            <img class="account__delete__success__img" src="{% static 'diary/assets/delete_sussess_neko.svg' %}" alt="ネココの画像">
        </div>

        <div class="btn--large">
            <a href="{% url 'user:account_top' %}">トップページへ</a>
        </div>

    </div>
</main>
{% endblock %}