<!--カレンダー月-->
{% extends "base_diary.html" %}

{% load static%}

{% block title %}月間カレンダー{% endblock %}

{% block header %}
<header>
    <div class="header__text">
        <p>月間カレンダー</p>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="calendar--background">
    <!-- タブ -->
    <div class="tab__button">
        <div class="tab__button--left">
            <button type="button" onclick="location.href='{% url 'diary:calendar_month' %}'">
                月間カレンダー</button>
        </div>
        <div class="tab__button--right">
            <button type="button" onclick="location.href='{% url 'diary:month_graph' %}'">
                月間グラフ</button>
        </div>
    </div>

    <!-- カレンダーページネーション -->
    <div class="calendar-week">
        <div class="calendar-header">
            {% comment %} 月を動的に遡れるようにしてください {% endcomment %}
            <a href=""><img src="{% static 'diary/assets/left_arrow.png' %}" alt="矢印のアイコン">前の週</a>
            {% comment %} 月を動的に進められるようにしてください {% endcomment %}
            <a href=""><img src="{% static 'diary/assets/right_arrow.png' %}" alt="矢印のアイコン">次の週</a>
            {% comment %} 選択した年月のテキストを表示してください {% endcomment %}
            <span>年月</span>
            {% comment %} 現在の月を表示させてください {% endcomment %}
            <a href=""><img src="{% static 'diary/assets/return_arrow.png' %}" alt="矢印のアイコン">今週</a>
        </div>
    </div>

    <!-- カレンダー -->
    <div id="calendar" class="calendar__month">
        <table>
            <thead>
                <tr>
                    <th class="sun">日</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th class="sat">土</th>
                </tr>
            </thead>
            <tbody>
                <!-- 第1週 -->
                <tr>
                    <td class="sun--td">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="sat--td">
                    </td>
                </tr>
                <!-- 第2週 -->
                <tr>
                    <td class="sun--td">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="sat--td">
                    </td>
                </tr>
                <!-- 第3週 -->
                <tr>
                    <td class="sun--td">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="sat--td">
                    </td>
                </tr>
                <!-- 第4週 -->
                <tr>
                    <td class="sun--td">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="sat--td">
                    </td>
                </tr>
                <!-- 第5週 -->
                <tr>
                    <td class="sun--td">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="sat--td">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- calendar--background -->
{% endblock %}