<!--カレンダー週-->
<!--週間カレンダーは以下の条件でテンプレートを作成しています。
・明日以降の日にちのセルはクリックできない。
・現在以前の日にちのセルをクリックすると、日記詳細ページに遷移する。
・日記を作成していない日にちのセルをクリックすると、トップページに遷移する。-->
{% extends "base_diary.html" %}

{% load static%}

{% block title %}週間カレンダー{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/calendar-week_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>週間カレンダー</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<!-- フェードイン -->
<article id="Article__week" class="move fade">
<div class="content content--blue">

<!-- メインコンテンツ -->
<main class="ground ground--blue">
    <div class="calendar--background calender-week-page">
        <!-- タブ -->
        {% url 'diary:calender_week' selected_date as calender_week_url %}
        {% url 'diary:week_graph' selected_date as week_graph_url %}
        <div class="tab__button a--tab">
            <div class="a--tab--left {% if request.path == calender_week_url %}active{% endif %}">
                <a id="a--tab--left--color" href="{{ calender_week_url }}">週間カレンダー</a>
            </div>
            <div class="a--tab--right {% if request.path == week_graph_url %}active{% endif %}">
                <a id = "week_graph" href="{{ week_graph_url }}">週間グラフ</a>
                <div id="loading">
                    <img id = "logo" src="{% static 'diary/assets/logo.svg'%}" alt="Loading Image">
                    <div class="loading-content">
                        <img id = "teacat" src="{% static 'diary/assets/tea_neko.svg'%}" alt="Loading Image">
                        <p class="loading__text">読み込み中にゃ</P>
                        <span class="dli-loading-1"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 週間カレンダーページネーション -->
    <div class="calendar-week">
        <div class="calendar-header">
            {% comment %} 週を動的に遡れるようにしてください {% endcomment %}
            <div class="next__button">
                <!-- 左ボタン -->
                <a href="{% url 'diary:calender_week' week_start %}">
                    <img src="{% static 'diary/assets/left_arrow.svg' %}" alt="矢印のアイコン">
                </a>

                <a href="{% url 'diary:calender_week' week_start_up %}">
                    <img src="{% static 'diary/assets/right_arrow.svg' %}" alt="矢印のアイコン">
                </a>
            </div>
            {% comment %} 年、月 {% endcomment %}
            <p class="calendar-header__select-date">{{ selected_date|date:"Y年n月" }}</p>

            <div class="a--blue">
                <a href="{% url 'diary:calender_week'%}">
                    <svg class="a--blue--svg" id="mySvg" width="16" height="16" viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6775 2.35146C12.0475 0.721457 9.73749 -0.218543 7.19749 0.0414571C3.52749 0.411457 0.507487 3.39146 0.0974871 7.06146C-0.452513 11.9115 3.29749 16.0015 8.02749 16.0015C11.2175 16.0015 13.9575 14.1315 15.2375 11.4415C15.5575 10.7715 15.0775 10.0015 14.3375 10.0015C13.9675 10.0015 13.6175 10.2015 13.4575 10.5315C12.3275 12.9615 9.61749 14.5015 6.65749 13.8415C4.43749 13.3515 2.64749 11.5415 2.17749 9.32146C1.33749 5.44146 4.28749 2.00146 8.02749 2.00146C9.68749 2.00146 11.1675 2.69146 12.2475 3.78146L10.7375 5.29146C10.1075 5.92146 10.5475 7.00146 11.4375 7.00146H15.0275C15.5775 7.00146 16.0275 6.55146 16.0275 6.00146V2.41146C16.0275 1.52146 14.9475 1.07146 14.3175 1.70146L13.6775 2.35146Z"/>
                    </svg>
                    <p class="a--blue-__p">今週</p>
                </a>
            </div>
        </div>
    </div>

    <!-- 週間カレンダー一覧 -->
    <div class="week-calendar">
    <table class="week-calendar__table">
        <tbody>
            {% for day in week_dates %}
                {% comment %} 今日の日記の色付け{% endcomment %}
                {% if today == day %}
                    <tr class="week-calendar__today__tr">
                        <td class="week-calendar__today">
                            {{ day.month }}/{{ day.day }}
                        </td>
                        {% for diary_entry in diary %}
                            {% if diary_entry.created_date == day %}
                                {% for emotion_entry in emotion %}
                                {% comment %} 日記があったらの処理 {% endcomment %}
                                    {% if emotion_entry.diary_id == diary_entry.id %}
                                        <td rowspan = "2" class="week-calendar__diary">
                                            <a class="week-calendar__table__a" href="{% url 'diary:today_diary_detail' diary_entry.id %}">
                                                {% comment %} {{ diary_entry.content }} {% endcomment %}
                                                <div class="week-calendar__diary__flex-box">
                                                    <div>
                                                        <img class="week-calendar__emotion-img" src="{% static 'diary/assets/' %}{{ emotion_entry.reasoning }}.svg" alt="{{ emotion_entry.reasoning }}">
                                                    </div>
                                                    <div>
                                                        <!-- 10文字以上の場合は10文字まで表示し、それ以降は「…」と表示 -->
                                                        {{ diary_entry.content|slice:":9" }}
                                                        {% if diary_entry.content|length > 9 %}&hellip;{% endif %}
                                                    </div>
                                                    <div>
                                                        <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        
                        <!-- 日記が作成されてない日付をに新規登録ボタンを表示 -->
                        {% for missing_date in dates_without_diary %}
                        <!-- dayとmissing_dateが一致した場合の処理 -->
                        {% if day == missing_date %}
                            <td rowspan = "2" class="week-calendar__diary">
                                <a class="week-calendar__table__a" href="{% url 'diary:create_diary' day %}">
                                    <div class="week-calendar__diary__flex-box">
                                        <div>
                                            <p>新規作成</p>
                                        </div>
                                        <div>
                                            <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                        </div>
                                    </div>
                                </a>
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="week-calendar__week__today">
                            <div
                                {% if day|date:"w" == "0" %} class="sun"
                                {% elif day|date:"w" == "6" %} class="sat"
                                {% endif %}
                            >
                            
                                {{day|date:"D"}}
                            </div>
                        </td>
                    </tr>
                    
                    {% comment %} ここまで {% endcomment %}

                    {% comment %} 当時よりも前の日記の作成 {% endcomment %}
                {% elif day < selected_date %}
                    <tr>
                        <td class="week-calendar__date">
                            {{ day.month }}/{{ day.day }}
                        </td>
                        {% for diary_entry in diary %}
                            {% if diary_entry.created_date == day %}
                                {% for emotion_entry in emotion %}
                                    {% if emotion_entry.diary_id == diary_entry.id %}
                                        <td rowspan = "2" class="week-calendar__diary">
                                            <a class="week-calendar__table__a" href="{% url 'diary:today_diary_detail' diary_entry.id %}">
                                                <div class="week-calendar__diary__flex-box">
                                                    <div>
                                                        <img class="week-calendar__emotion-img" src="{% static 'diary/assets/' %}{{ emotion_entry.reasoning }}.svg" alt="{{ emotion_entry.reasoning }}">
                                                    </div>
                                                    <div>
                                                        <!-- 10文字以上の場合は10文字まで表示し、それ以降は「…」と表示 -->
                                                        {{ diary_entry.content|slice:":9" }}
                                                        {% if diary_entry.content|length > 9 %}&hellip;{% endif %}
                                                    </div>
                                                    <div>
                                                        <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}

                                <!-- 日記が作成されてない日付をに新規登録ボタンを表示 -->
                                {% for missing_date in dates_without_diary %}
                                        <!-- dayとmissing_dateが一致した場合の処理 -->
                                        {% if day == missing_date and today > day %}
                                            <td rowspan = "2" class="week-calendar__diary">
                                                <a class="week-calendar__table__a" href="{% url 'diary:create_diary' day %}">
                                                    <div class="week-calendar__diary__flex-box">
                                                        <div>
                                                            <p>新規作成</p>
                                                        </div>
                                                        <div>
                                                            <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            {% endif %}
                                        {% endfor %}
                            </tr>
                            <tr>
                        <td class="week-calendar__week">
                            <div
                                {% if day|date:"w" == "0" %} class="sun"
                                {% elif day|date:"w" == "6" %} class="sat"
                                {% endif %}
                            >
                                {{day|date:"D"}}
                            </div>
                        </td>
                    </tr>

                {% elif day == selected_date %}
                    <tr>
                        <td class="week-calendar__date">
                            {{ day.month }}/{{ day.day }}
                        </td>
                        {% comment %} {{ day.month }}/{{ day.day }}<br>{{day|date:"D"}} {% endcomment %}
                        {% for diary_entry in diary %}
                            {% if diary_entry.created_date == day %}
                                {% for emotion_entry in emotion %}
                                    {% if emotion_entry.diary_id == diary_entry.id %}
                                        <td rowspan = "2" class="week-calendar__diary">
                                            <a class="week-calendar__table__a" href="{% url 'diary:today_diary_detail' diary_entry.id %}">
                                                <div class="week-calendar__diary__flex-box">
                                                    <div>
                                                        <img class="week-calendar__emotion-img" src="{% static 'diary/assets/' %}{{ emotion_entry.reasoning }}.svg" alt="{{ emotion_entry.reasoning }}">
                                                    </div>
                                                    <div>
                                                        <!-- 10文字以上の場合は10文字まで表示し、それ以降は「…」と表示 -->
                                                        {{ diary_entry.content|slice:":9" }}
                                                        {% if diary_entry.content|length > 9 %}&hellip;{% endif %}
                                                    </div>
                                                    <div>
                                                        <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <!-- 日記が作成されてない日付をに新規登録ボタンを表示 -->
                        {% for missing_date in dates_without_diary %}
                        <!-- dayとmissing_dateが一致した場合の処理 -->
                        {% if day == missing_date and today >= day  %}
                            <td rowspan = "2" class="week-calendar__diary">
                                <a class="week-calendar__table__a" href="{% url 'diary:create_diary' day %}">
                                    <div class="week-calendar__diary__flex-box">
                                        <div>
                                            <p>新規作成</p>
                                        </div>
                                        <div>
                                            <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                        </div>
                                    </div>
                                </a>
                            </td>
                            
                        <!-- 日記がないときにtbを作る処理 -->
                        {%elif day == missing_date and today < day%}
                            <td rowspan = "2" class="week-calendar__diary__missing_date"  >
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="week-calendar__week">
                            <div
                                {% if day|date:"w" == "0" %} class="sun"
                                {% elif day|date:"w" == "6" %} class="sat"
                                {% endif %}
                            >
                                {{day|date:"D"}}
                            </div>
                        </td>
                    </tr>
                {% comment %} 未来のカレンダー {% endcomment %}
                {% else %}
                    <tr>
                        <td class="week-calendar__date">
                            {{ day.month }}/{{ day.day }}
                        </td>
                        {% comment %} <span class="future-day">{{ day.month }}/{{ day.day }}<br>{{day|date:"D"}}</span> {% endcomment %}
                        {% for diary_entry in diary %}
                            {% if diary_entry.created_date == day %}
                                {% for emotion_entry in emotion %}
                                    {% if emotion_entry.diary_id == diary_entry.id %}
                                        <td rowspan = "2" class="week-calendar__diary">
                                            <a class="week-calendar__table__a" href="{% url 'diary:today_diary_detail' diary_entry.id %}">
                                                <div class="week-calendar__diary__flex-box">
                                                    <div>
                                                        <img class="week-calendar__emotion-img" src="{% static 'diary/assets/' %}{{ emotion_entry.reasoning }}.svg" alt="{{ emotion_entry.reasoning }}">
                                                    </div>
                                                    <div>
                                                        <!-- 10文字以上の場合は10文字まで表示し、それ以降は「…」と表示 -->
                                                        {{ diary_entry.content|slice:":9" }}
                                                        {% if diary_entry.content|length > 9 %}&hellip;{% endif %}
                                                    </div>
                                                    <div>
                                                        <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <!-- 日記が作成されてない日付をに新規登録ボタンを表示 -->
                        {% for missing_date in dates_without_diary %}
                        <!-- dayとmissing_dateが一致した場合の処理 -->
                        {% if day == missing_date and today > day %}
                            <td rowspan = "2" class="week-calendar__diary">
                                <a class="week-calendar__table__a" href="{% url 'diary:create_diary' day %}">
                                    <div class="week-calendar__diary__flex-box">
                                        <div>
                                            <p>新規作成</p>
                                        </div>
                                        <div>
                                            <img class="week-calendar__link-arrow" src="{% static 'diary/assets/arrow.svg' %}">
                                        </div>
                                    </div>
                                </a>
                            </td>
                        <!-- 日記がないときにtbを作る処理 -->
                        {%elif day == missing_date and today < day%}
                            <td rowspan = "2" class="week-calendar__diary__missing_date"  >
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="week-calendar__week">
                            <div
                                {% if day|date:"w" == "0" %} class="sun"
                                {% elif day|date:"w" == "6" %} class="sat"
                                {% endif %}
                            >
                                {{day|date:"D"}}
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

</main>

</div>
</article>
{% endblock %}

{% block js %}
<script>
    // フェードイン
    $(document).ready(function () {
        $('article').addClass('appear');
    });

    document.getElementById('week_graph').addEventListener('click', function (event) {
        // ボタンがクリックされたらローディング画面を表示
        document.getElementById('loading').style.display = 'block';
        // アニメーションを開始
        document.querySelector('.dli-loading-1').classList.add('rotate-animation');
    });
</script>
{% endblock %}
