<!-- 日記作成画面１ -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記作成{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} help.htmlに遷移させてください {% endcomment %}
            <a href="">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>

    <h1 class="date">--/--(-)</h1>
    <div class="header__weather">
        <img class="weatherImg">
        <span class="tempMax">-℃</span>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="ground ground--blue"><!-- 追加した要素 -->
    <div class="scroll--content">

        {% comment %} action="{% url 'diary:create_diary_confirmation' %}" {% endcomment %}
        <form method="POST" action="{% url 'diary:create_diary_confirmation' %}" enctype="multipart/form-data">

        {% csrf_token %}
            <div class="content__today-diary">
                {% comment %}  {{today}}<br>        現在の日付を取得 {% endcomment %}
                <div class="FlexTextarea">
                    <div class="FlexTextarea__dummy" aria-hidden="true"></div>
                    {{ Diary.content }}
                </div>
                <!-- 文字数を表示する要素 -->
                <div id="characterCount" class="content__text-count"></div>
                <div class='photomv'>
                    {{ Diary.photo1 }}
                    {{ Diary.photo2 }}
                    {{ Diary.photo3 }}
                    {{ Diary.photo4 }}
                    {{ Diary.movie1 }}
                    {{ Diary.movie2 }}
                    {{ Diary.movie3 }}
                    {{ Diary.movie4 }}
                </div>
            </div>
                <button class="btn btn--blue" type="submit">確認</button>
        </form>

    </div>
</main>
{% endblock %}

{% block js %}
<script>
    // 内容に応じてサイズが可変するテキストエリア
    function flexTextarea(el) {
        const dummy = el.querySelector('.FlexTextarea__dummy')
        el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
            dummy.textContent = e.target.value + '\u200b'
        })
    }
    document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)

    // 文字数のカウント
    function countCharacters(textarea) {
        var count = $(textarea).val().length;
        $('#characterCount').text(count + '/1000');
    }

    // ページのDOMが完全に読み込まれたときに実行
    document.addEventListener('DOMContentLoaded', function() {
        // 初期表示では2つ目以降のphotoとmovieの要素を非表示にするための関数を呼び出す
        hideElements('photo', 2);
        hideElements('movie', 2);

        // 指定されたタイプ（photoまたはmovie）と開始インデックスから4までの要素を非表示
        function hideElements(type, start) {
            for (let i = start; i <= 4; i++) {
                // id属性に id_ を付与し
                const element = document.getElementById(`id_${type}${i}`);
                if (element) {
                    // 非表示
                    element.style.display = 'none';
                }
            }
        }

        // 指定されたタイプとインデックスの次の要素を表示する関数
        function showNextElement(type, index) {
            const nextIndex = index + 1;
            const nextElement = document.getElementById(`id_${type}${nextIndex}`);
            if (nextElement) {
                // 次の要素を表示
                nextElement.style.display = 'block';
            }
        }

        // photoまたはmovieのファイルが選択されたときに次の要素を表示するイベントを設定
        function handleFileInput(type, index) {
            const input = document.getElementById(`id_${type}${index}`);
            if (input) {
                // input要素のchangeイベントを設定
                input.addEventListener('change', function() {
                    // 次の要素を表示
                    showNextElement(type, index);
                });
            }
        }

        //handleFileInput関数を使用して、各photoおよびmovieフィールドに対してファイルが選択されたときの
        // 動的な表示を設定
        // photoファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('photo', i);
        }

        // movieファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('movie', i);
        }
    });
</script>
{% endblock %}
