<!-- 日記作成画面１ -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記作成{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} home_top.htmlに遷移させてください {% endcomment %}
            <a href="#" onclick="history.back(); return false;">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>

    <h1 class="date">--/--(-)</h1>
    <div class="header__weather">
        <img class="weatherImg">
        <span class="tempMax">-℃</span>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="ground ground--blue"><!-- 追加した要素 -->
    <div class="scroll--content">

        <form id = "creatediaryform"method="POST" action="{% url 'diary:create_diary_confirmation' %}" enctype="multipart/form-data">

        {% csrf_token %}
            <div class="content__today-diary">
                {% comment %}  {{today}}<br>        現在の日付を取得 {% endcomment %}
                <div class="FlexTextarea"><!-- CSSのため追加 -->
                    <img class="content__textarea__img" src="{% static 'diary/assets/textarea_img.svg' %}" alt="pen">
                    {{ Diary.content }}
                </div>

                <!-- 文字数をカウントする要素 -->
                <div id="characterCount" class="content__text-count">0/1000</div>

                <div class='photomv'>
                    <div class="custom-file-upload" id="container_photo1"><!-- CSSのため追加 -->
                        <!-- ラベル追加 label要素を表示、input要素を非表示にする-->
                        <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo1 }}
                        </label>
                        <span id="file_name_photo1">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_photo2">
                        <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo2 }}
                        </label>
                        <span id="file_name_photo2">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_photo3">
                        <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo3 }}
                        </label>
                        <span id="file_name_photo3">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_photo4">
                        <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo4 }}
                        </label>
                        <span id="file_name_photo4">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" id="container_movie1">
                        <label id="label_movie1"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie1 }}
                        </label>
                        <span id="file_name_movie1">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie2">
                        <label id="label_movie2"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie2 }}
                        </label>
                        <span id="file_name_movie2">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie3">
                        <label id="label_movie3"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie3 }}
                    </label>
                        <span id="file_name_movie3">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie4">
                        <label id="label_movie4"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie4 }}
                        </label>
                        <span id="file_name_movie4">選択されていません</span>
                    </div>
                </div>

                <div class="btn--blue">
                  <button id="submitButton" type="submit">確認</button>
                  <div id="loading">
                    <img id = "logo" src="{% static 'diary/assets/logo.svg'%}" alt="Loading Image">
                    <div class="loading-content">
                      <img id = "teacat" src="{% static 'diary/assets/tea_neko.svg'%}" alt="Loading Image">
                      読み込み中...
                    </div>
                  </div>
                </div>
            </div>
        </form>

    </div>
</main>
{% endblock %}

{% block js %}
<script>

    // 文字数のカウント
    function countCharacters(textarea) {
        let count = $(textarea).val().length;
        let maxLength = 1000;
        let countDisplay = count + '/' + maxLength;
        $('#characterCount').text(countDisplay);

        if (count > maxLength) {
            $('#characterCount').addClass('error'); // スタイリング用のクラスを追加
            $('#characterCount').text('入力できる文字数を超えています。' + countDisplay);
        } else {
            $('#characterCount').removeClass('error'); // エラーがない場合はクラスを削除
        }
    }

    // Enterキーが押されたときの処理
    function checkEnter(event) {
        // テキストエリア要素を取得
        let textarea = $('#diaryContent')[0];
        // テキストエリア内の文字数を取得
        let count = textarea.value.length;
        // テキストエリアの最大文字数
        let maxLength = 1000;

        // Enterキーが押され、かつテキストエリア内の文字数が最大文字数以上の場合
        if (event.key === 'Enter' && count >= maxLength) {
            // Enterキーのデフォルトの動作をキャンセル
            event.preventDefault();
            // テキストエリアに改行を追加
            textarea.value += '\n';
            // 文字数を再計算して表示
            countCharacters(textarea);
            // イベントの伝播を停止
            return false;
        }
        // Enter以外の場合は何もしない
        return true;
    }

    // ページのDOMが完全に読み込まれたときに実行、ボタンを動的に表示させる
    document.addEventListener('DOMContentLoaded', function() {
        // 初期表示では2つ目以降のphotoとmovieの要素を非表示にするための関数を呼び出す
        hideElements('photo', 2);
        hideElements('movie', 2);

        // 指定されたタイプ（photoまたはmovie）と開始インデックスから4までの要素を非表示
        function hideElements(type, start) {
            for (let i = start; i <= 4; i++) {
                // id属性に id_ を付与
                const container = document.getElementById(`container_${type}${i}`);
                if (container) {
                    // 非表示
                    container.style.display = 'none';
                }
            }
        }

        // 指定されたタイプとインデックスの次の要素を表示する関数
        function showNextElement(type, index) {
            const nextIndex = index + 1;
            const nextContainer = document.getElementById(`container_${type}${nextIndex}`);
            if (nextContainer) {
                // 次の要素を表示
                nextContainer.style.display = 'block';
            }
        }

        // photoまたはmovieのファイルが選択されたときに次の要素を表示するイベントを設定
        function handleFileInput(type, index) {
            const input = document.getElementById(`id_${type}${index}`);
            const label = document.getElementById(`label_${type}${index}`);
            const fileNameSpan = document.getElementById(`file_name_${type}${index}`);

            if (input && label && fileNameSpan) {
                input.addEventListener('change', function() {
                    if (input.files.length > 0) {
                        fileNameSpan.textContent = input.files[0].name;
                        showNextElement(type, index);
                    } else {
                        fileNameSpan.textContent = '選択されていません';
                    }
                });
            }
            //if (input && label && fileNameSpan) {
                //label.addEventListener('click', function() {
                    //input.click();
                //});
        }

        //handleFileInput関数を使用して、各photoおよびmovieフィールドに対してファイルが選択されたときの
        // 動的な表示を設定
        // photoファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('photo', i);
        }

        // movieファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('movie', i);
        }

        // 添付ファイルを選択後、ファイル名を更新する関数
        function updateFileName(input, fileNameSpanId) {
            const fileNameSpan = document.getElementById(fileNameSpanId);
            if (fileNameSpan) {
                if (input.files.length > 0) {
                    fileNameSpan.textContent = input.files[0].name;
                } else {
                    fileNameSpan.textContent = '選択されていません';
                }
            }
        }
    });
    document.getElementById('creatediaryform').addEventListener('submit', function (event) {
      // ボタンがクリックされたらローディング画面を表示
      document.getElementById('loading').style.display = 'block';
  });
</script>
{% endblock %}
