<!-- 日記内容確認画面 -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記内容確認{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/home-page.css' %}">
{% endblock %}

{% block header %}

<header>

    {% comment %} <div class="header__nowdate">
        <!-- 日付の表示 書式は0000/00/00(月) -->
        {% if カレンダーから遷移した場合 %}
            {{ 選択された日付を表示する }}
        {% else %}
            {{ 現在の日付を表示する }}
        {% endif %}
    </div>
    <!-- 天気アイコン・気温の表示  -->
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} 戻るボタンは削除しました {% endcomment %}
        </div>
    </div>

    <h1 class="date">--/--(-)</h1>
    <div class="header__weather">
        <img class="weatherImg">
        <span class="tempMax">-℃</span>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="ground ground--blue"><!-- 追加した要素 -->
    <div class="scroll--content">

        <!-- 入力されたテキストの表示 -->
        <div class="content__form-group">

                {% csrf_token %}
                <div class="content__today-diary__text">
                    <p>{{ saved_diary.content }}</p>

                    <div class="content__today-diary__img">
                        {% if saved_diary.photo1 %}
                            <img src="{{ saved_diary.photo1.url }}" alt="Diary Photo1" class="content__today-diary__item">
                        {% endif %}
                        {% if saved_diary.photo2 %}
                            <img src="{{ saved_diary.photo2.url }}" alt="Diary Photo2" class="content__today-diary__item">
                        {% endif %}
                        {% if saved_diary.photo3 %}
                            <img src="{{ saved_diary.photo3.url }}" alt="Diary Photo3" class="content__today-diary__item">
                        {% endif %}
                        {% if saved_diary.photo4 %}
                            <img src="{{ saved_diary.photo4.url }}" alt="Diary Photo4" class="content__today-diary__item">
                        {% endif %}
                    </div>
                </div>

                <!-- ネコココメント -->
                <div class="content__diary__comment">
                    <p>{{ saved_diary.ai_comment }}</p>
                </div>
                <!-- ネココの画像 ここの画像を変更する-->
                <div class="content__diary__comment__img">
                    <img src="{% static 'diary/assets/neko_comment.svg' %}" alt="ネココの画像">
                </div>

                <div class="btn--blue">
                    <a href="{% url 'diary:positive_conversion' saved_diary.pk %}" class="button-link">ポジティブ変換する</a>
                    {% comment %} <button type="submit" id="submit-button" onclick="showLoadingScreenAndRedirect1('{% url 'diary:positive_conversion' %}')">日記をポジティブに変換</button> {% endcomment %}
                </div>
                <div class="btn--white">
                    <a href="{% url 'diary:today_diary_detail' saved_diary.pk %}" class="button-link">ポジティブ変換しない</a>
                </div>

        </div><!-- content__form-group -->

        <div id="loading">
          <img id = "logo" src="{% static 'diary/assets/logo.svg'%}" alt="Loading Image">
          <div class="loading-content">
              <img id = "teacat" src="{% static 'diary/assets/tea_neko.svg'%}" alt="Loading Image">
              <p class="loading__text">読み込み中</P>
              <span class="dli-loading-1"></span>
          </div>
        </div>

<!-- ポップアップ要素 -->
{% comment %} 悪い言葉があればポップアップを表示 {% endcomment %}
{% if saved_diary.counseling == 1 %}

    {% comment %} 1回目のポップアップ {% endcomment %}
    <div class="popup show" id="first-popup">
        <div class="popup__text">
            <p>ネガティブが続いているにゃ。<br>ネココのカウンセリングを受けるにゃ。</p>
        </div>
        <div class="popup__img">
            <img src="{% static 'diary/assets/counseling_request.svg' %}" alt="カウンセリングを薦める猫の画像">
        </div>

        {% comment %} ネココのアドバイスを受ける　{% endcomment %}
        <div class="btn--blue">
          <a href="{% url 'diary:receive_nekoko_advice' saved_diary.pk %}" class="button-link">
            <button id="submitButton" type="submit">ネココのアドバイスを受ける</button>
          </a>
        </div>
        <div class="gray__button">
            {% comment %} キャンセルを押したら、2回目のポップアップを表示 {% endcomment %}
            <button id="close-button" onclick="closePopup('first-popup')">
                <img src="{% static 'diary/assets/close.svg' %}" alt="アイコン">キャンセル
            </button>
        </div>
    </div>

    {% comment %} 2回目のポップアップ {% endcomment %}
    <div class="popup" id="second-popup">
        <div class="popup__text">
            <p>キャンセルするとカウンセリングを<br>
                受けることができなくなります。<br>
                キャンセルしますか？</p>
        </div>
        <div class="popup__img">
            <img src="{% static 'diary/assets/counseling_request.svg' %}" alt="カウンセリングを薦める猫の画像">
        </div>
            {% comment %} ネココのアドバイスを受ける　{% endcomment %}
            <div class="btn--blue">
              <a href="{% url 'diary:receive_nekoko_advice' saved_diary.pk %}" class="button-link">
                <button id="submitButton2" type="submit">ネココのアドバイスを受ける</button>
              </a>
            </div>
        <div class="gray__button">
            {% comment %} キャンセルを押したら、counselingの値が0になる　{% endcomment %}
            {% comment %} キャンセルを押したら、ポップアップが消えるようにしたい　{% endcomment %}
            <a href="{% url 'diary:counseling_yellow' saved_diary.pk %}" class="button-link">
              <button>
                  <img src="{% static 'diary/assets/close.svg' %}" alt="アイコン">キャンセル
              </button>
          </a>
        </div>
    </div>
{% endif %}

    
    </div><!-- scroll content -->
</main>

{% endblock %}

{% block js %}
<script>
    document.getElementById('submitButton').addEventListener('click', function () {
      // ボタンがクリックされたらローディング画面を表示
      document.getElementById('loading').style.display = 'block';
      document.getElementById('first-popup').style.display = 'none';
      document.getElementById('second-popup').style.display = 'none';
      // アニメーションを開始
      document.querySelector('.dli-loading-1').classList.add('rotate-animation');
  });
  document.getElementById('submitButton2').addEventListener('click', function () {
    // ボタンがクリックされたらローディング画面を表示
    document.getElementById('loading').style.display = 'block';
    document.getElementById('first-popup').style.display = 'none';
    document.getElementById('second-popup').style.display = 'none';
    // アニメーションを開始
    document.querySelector('.dli-loading-1').classList.add('rotate-animation');
});

  document.getElementById('close-button').addEventListener('click', function () {
    // ボタンがクリックされたら画面非表示
    document.getElementById('first-popup').style.display = 'none';
    // ボタンがクリックされたら画面表示
    document.getElementById('second-popup').style.display = 'block';
  });
</script>
{% endblock %}


