<!-- 日記編集画面 -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記編集{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/home-page.css' %}">

{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} 選択された日付のtoday_diary_detail.htmlに遷移させてください {% endcomment %}
            <a href="#" onclick="history.back(); ">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>
    <h1>日記編集</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
    
    <!-- 要らなくなったら削除-->
    <style>
        .backcolor.checked {
            background-color:  #808080; 
        }
    </style>

</header>
{% endblock %}

{% block content %}
<section>
<main class="ground ground--blue"><!-- 追加した要素 -->
    
    <div class="scroll--content">

        <form id="updateform" method="POST" action="{% url 'diary:create_diary_confirmation' diary.pk %}" enctype="multipart/form-data">
            {% comment %} {% csrf_token %}
            <div class="content__today-diary__text">
                <img src="透過画像のパス" alt="透過画像" class="follow-image">
                <div class="content__diary__text">
                    <p>
                        <!-- 保存されている日記を表示お願いします -->
                    </p>
                </div>
            </div>
            <!-- Javascriptでテキストボックス内にネココを透過させた画像を追従させます -->
            <!-- Javascriptで文字数をカウントします --> {% endcomment %}

            {% comment %} create_diaryのコピー {% endcomment %}
            {% csrf_token %}
            <samll class="created-date_update">作成日時：{{diary.created_date}}</samll>
            <div class="content__today-diary">
                <div class="FlexTextarea"><!-- CSSのため追加 -->
                    <img class="content__textarea__img" src="{% static 'diary/assets/textarea_img.svg' %}" alt="テキストエリア背景画像">
                    {{ Diary.content }}
                </div>

                <!-- 文字数をカウントする要素 -->
                <div id="characterCount" class="content__text-count">0/1000</div>

                <div class='photomv'>
                    {% comment %} photoが4枚の時 {% endcomment %}
                    {% if diary.photo4 %}
                    <div class="custom-file-upload" id="container_photo1">
                        <div class="backcolor" id="backcolor_photo1">
                        <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo1 }}
                            <!-- 画像のファイル名を表示させてください -->
                            <span id="file_name_photo1">{{  diary.photo1|cut:"diary_photos/"}}</span>
                        </label>
                        <!-- 削除ボタン -->
                        {% if diary.photo1 %}
                        <label for="photo1_delete">Photo1削除</label>
                        <input type="checkbox" name="photo1_delete" id="photo1_delete" onchange="changeBackgroundColor(1)">
                        {% endif %}
                            </div>
                        </div>
                    <div class="custom-file-upload" id="container_photo1">
                        <div class="backcolor" id="backcolor_photo2">
                        <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo2 }}
                            <!-- 画像のファイル名を表示させてください -->
                            <span id="file_name_photo2">{{  diary.photo2|cut:"diary_photos/"}}</span>
                        <!-- 削除ボタン -->
                        </label>
                        {% if diary.photo2 %}
                        <label for="photo2_delete">Photo 2削除</label>
                        <input type="checkbox" name="photo2_delete" id="photo2_delete" onchange="changeBackgroundColor(2)">
                        {% endif %}
                            </div>
                        </div>
                    <div class="custom-file-upload" id="container_photo1">
                        <div class="backcolor" id="backcolor_photo3">
                        <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                            {{ Diary.photo3 }}
                            <!-- 画像のファイル名を表示させてください -->
                            <span id="file_name_photo3">{{  diary.photo3|cut:"diary_photos/"}}</span>
                        </label>
                        <!-- 削除ボタン -->
                        {% if diary.photo3 %}
                        <label for="photo3_delete">Photo 3を削除</label>
                        <input type="checkbox" name="photo3_delete" id="photo3_delete" onchange="changeBackgroundColor(3)">
                        {% endif %}
                            </div>
                        </div>
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo4">
                                <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                {{ Diary.photo4 }}
                                <!-- 画像のファイル名を表示させてください -->
                                <span id="file_name_photo4">{{  diary.photo4|cut:"diary_photos/"}}</span>
                            </label>
                            <!-- 削除ボタン -->
                            {% if diary.photo4 %}
                            <label for="photo4_delete">Photo 4を削除</label>
                            <input type="checkbox" name="photo4_delete" id="photo4_delete" onchange="changeBackgroundColor(4)">
                            {% endif %}
                                </div>
                            </div>
                            {% comment %} photoが3枚のとき {% endcomment %}
                            {% elif diary.photo3 %}
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo1">
                                <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                {{ Diary.photo1 }}
                                <!-- 画像のファイル名を表示させてください -->
                                <span id="file_name_photo1">{{  diary.photo1|cut:"diary_photos/"}}</span>
                                </label>
                            <!-- 削除ボタン -->
                            {% if diary.photo1 %}
                            <label for="photo1_delete">削除</label>
                            <input type="checkbox" name="photo1_delete" id="photo1_delete" onchange="changeBackgroundColor(1)">
                            {% endif %}
                                </div>
                            </div>
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo2">
                                <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                    {{ Diary.photo2 }}
                                    <!-- 画像のファイル名を表示させてください -->
                                    <span id="file_name_photo2">{{  diary.photo2|cut:"diary_photos/"}}</span>
                                </label>
                            <!-- 削除ボタン -->
                            {% if diary.photo2 %}
                            <label for="photo2_delete">削除</label>
                            <input type="checkbox" name="photo2_delete" id="photo2_delete" onchange="changeBackgroundColor(2)">
                            {% endif %}
                                </div>
                            </div>
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo3">
                                <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                    {{ Diary.photo3 }}
                                    <!-- 画像のファイル名を表示させてください -->
                                    <span id="file_name_photo3">{{  diary.photo3|cut:"diary_photos/"}}</span>
                                </label>
                                <!-- 削除ボタン -->
                                {% if diary.photo3 %}
                                <label for="photo3_delete">削除</label>
                                <input type="checkbox" name="photo3_delete" id="photo3_delete" onchange="changeBackgroundColor(3)">
                                {% endif %}
                                </div>
                            </div>
                            <div class="custom-file-upload" id="container_photo1">
                            <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                {{ Diary.photo4 }}
                                <!-- 画像のファイル名を表示させてください -->
                                <span id="file_name_photo4">{{  diary.photo4|cut:"diary_photos/"}}</span>
                            </div>

                            {% comment %} photoが2枚のとき {% endcomment %}
                            {% elif diary.photo2 %}
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo1">
                                <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                {{ Diary.photo1 }}
                                <!-- 画像のファイル名を表示させてください -->
                                <span id="file_name_photo1">{{  diary.photo1|cut:"diary_photos/"}}</span>
                            </label>
                                <!-- 削除ボタン -->
                                {% if diary.photo1 %}
                                <label for="photo1_delete">Photo 1を削除</label>
                                <input type="checkbox" name="photo1_delete" id="photo1_delete" onchange="changeBackgroundColor(1)">
                                {% endif %}
                                </div>
                            </div>
                            <div class="custom-file-upload" id="container_photo1">
                                <div class="backcolor" id="backcolor_photo2">
                                    <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                    {{ Diary.photo2 }}
                                    <!-- 画像のファイル名を表示させてください -->
                                    <span id="file_name_photo2">{{  diary.photo2|cut:"diary_photos/"}}</span>
                                    </label>
                                        <!-- 削除ボタン -->
                                        <label for="photo2_delete">Photo 2を削除</label>
                                        <input type="checkbox" name="photo2_delete" id="photo2_delete" onchange="changeBackgroundColor(2)">
                                    </div>
                                </div>
                                <div class="custom-file-upload" id="container_photo1">
                                    <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                        {{ Diary.photo3 }}
                                        <!-- 画像のファイル名を表示させてください -->
                                        <span id="file_name_photo3">{{  diary.photo3|cut:"diary_photos/"}}</span>
                                        </div>
                                <div class="custom-file-upload" id="container_photo4">
                                    <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                            {{ Diary.photo4 }}
                                            <!-- 画像のファイル名を表示させてください -->
                                            <span id="file_name_photo4">{{  diary.photo4|cut:"diary_photos/"}}</span>
                                            </div>
                                            </div>

                                    {% comment %} photoが1枚の時 {% endcomment %}
                                    {% elif diary.photo1 %}
                                    <div class="custom-file-upload" id="container_photo1">
                                        <div class="backcolor" id="backcolor_photo1">
                                        <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                        {{ Diary.photo1 }}
                                        <!-- 画像のファイル名を表示させてください -->
                                        <span id="file_name_photo1">{{  diary.photo1|cut:"diary_photos/"}}</span>
                                        </label>
                                        <!-- 削除ボタン -->
                                        <label for="photo1_delete">Photo 1を削除</label>
                                        <input type="checkbox" name="photo1_delete" id="photo1_delete" onchange="changeBackgroundColor(1)">
                                        </div>
                                    </div>
                                    <div class="custom-file-upload" id="container_photo1">
                                        <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                            {{ Diary.photo2 }}
                                            <!-- 画像のファイル名を表示させてください -->
                                            <span id="file_name_photo2">{{  diary.photo2|cut:"diary_photos/"}}</span>
                                        </div>
                                        <div class="custom-file-upload" id="container_photo3">
                                            <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                {{ Diary.photo3 }}
                                                <!-- 画像のファイル名を表示させてください -->
                                                <span id="file_name_photo3">{{  diary.photo3|cut:"diary_photos/"}}</span>
                                            </div>
                                                <div class="custom-file-upload" id="container_photo4">
                                                <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                    {{ Diary.photo4 }}
                                                    <!-- 画像のファイル名を表示させてください -->
                                                    <span id="file_name_photo4">{{  diary.photo4|cut:"diary_photos/"}}</span>
                                                </div>

                                            {% comment %} 0枚の時 {% endcomment %}
                                            {% else %}
                                            <div class="custom-file-upload" id="container_photo1">
                                            <label id="label_photo1"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                {{ Diary.photo1 }}
                                                <!-- 画像のファイル名を表示させてください -->
                                                <span id="file_name_photo1">{{  diary.photo1|cut:"diary_photos/"}}</span>
                                            </div>
                                            <div class="custom-file-upload" id="container_photo2">
                                                <label id="label_photo2"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                    {{ Diary.photo2 }}
                                                    <span id="file_name_photo2">{{  diary.photo2|cut:"diary_photos/"}}</span>
                                                </div>
                                                <div class="custom-file-upload" id="container_photo3">
                                                    <label id="label_photo3"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                        {{ Diary.photo3 }}
                                                        <!-- 画像のファイル名を表示させてください -->
                                                        <span id="file_name_photo3">{{  diary.photo3|cut:"diary_photos/"}}</span>
                                                    </div>
                                                        <div class="custom-file-upload" id="container_photo4">
                                                        <label id="label_photo4"><img src="{% static 'diary/assets/img_icon.svg' %}" alt="画像アイコン">写真を選択
                                                            {{ Diary.photo4 }}
                                                            <!-- 画像のファイル名を表示させてください -->
                                                            <span id="file_name_photo4">{{  diary.photo4|cut:"diary_photos/"}}</span>
                                                        </div>
                                                {% endif  %}
                    <div class="custom-file-upload" id="container_movie1">
                        <label id="label_movie1"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie1 }}
                        </label>
                        <!-- 画像のファイル名を表示させてください -->
                        <span id="file_name_movie1">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie2">
                        <label id="label_movie2"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie2 }}
                        </label>
                        <!-- 画像のファイル名を表示させてください -->
                        <span id="file_name_movie2">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie3">
                        <label id="label_movie3"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie3 }}
                    </label>
                        <!-- 画像のファイル名を表示させてください -->
                        <span id="file_name_movie3">選択されていません</span>
                    </div>

                    <div class="custom-file-upload" style="display: none;" id="container_movie4">
                        <label id="label_movie4"><img src="{% static 'diary/assets/movie_icon.svg' %}" alt="動画アイコン">動画を選択
                            {{ Diary.movie4 }}
                        </label>
                        <!-- 画像のファイル名を表示させてください -->
                        <span id="file_name_movie4">選択されていません</span>
                    </div>
                </div>

                <div class="btn--blue">
                    <button id="submitButton" type="submit">保 存</button>
                    <div id="loading">
                        <img id = "logo" src="{% static 'diary/assets/logo.svg'%}" alt="Loading Image">
                        <div class="loading-content">
                            <img id = "teacat" src="{% static 'diary/assets/tea_neko.svg'%}" alt="Loading Image">
                            <p class="loading__text">読み込み中</P>
                            <span class="dli-loading-1"></span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</main>
</section>
{% endblock %}
{% block js %}
<script>
    // 文字数のカウント
    function countCharacters(textarea) {
        let count = $(textarea).val().length;
        let maxLength = 1000;
        let countDisplay = count + '/' + maxLength;
        $('#characterCount').text(countDisplay);

        if (count > maxLength) {
            $('#characterCount').addClass('error'); // スタイリング用のクラスを追加
            $('#characterCount').text('入力できる文字数を超えています。' + countDisplay);
        } else {
            $('#characterCount').removeClass('error'); // エラーがない場合はクラスを削除
        }
    }

    // Enterキーが押されたときの処理
    function checkEnter(event) {
        // テキストエリア要素を取得
        let textarea = $('#diaryContent')[0];
        // テキストエリア内の文字数を取得
        let count = textarea.value.length;
        // テキストエリアの最大文字数
        let maxLength = 1000;

        // Enterキーが押され、かつテキストエリア内の文字数が最大文字数以上の場合
        if (event.key === 'Enter' && count >= maxLength) {
            // Enterキーのデフォルトの動作をキャンセル
            event.preventDefault();
            // テキストエリアに改行を追加
            textarea.value += '\n';
            // 文字数を再計算して表示
            countCharacters(textarea);
            // イベントの伝播を停止
            return false;
        }
        // Enter以外の場合は何もしない
        return true;
    }

    // ページのDOMが完全に読み込まれたときに実行、ボタンを動的に表示させる
    document.addEventListener('DOMContentLoaded', function() {
        // 初期表示では2つ目以降のphotoとmovieの要素を非表示にするための関数を呼び出す
        hideElements('photo', 2);
        hideElements('movie', 2);

        // 指定されたタイプ（photoまたはmovie）と開始インデックスから4までの要素を非表示
        function hideElements(type, start) {
            for (let i = start; i <= 4; i++) {
                // id属性に id_ を付与
                const container = document.getElementById(`container_${type}${i}`);
                if (container) {
                    // 非表示
                    container.style.display = 'none';
                }
            }
        }

        // 指定されたタイプとインデックスの次の要素を表示する関数
        function showNextElement(type, index) {
            const nextIndex = index + 1;
            const nextContainer = document.getElementById(`container_${type}${nextIndex}`);
            if (nextContainer) {
                // 次の要素を表示
                nextContainer.style.display = 'block';
            }
        }

        // photoまたはmovieのファイルが選択されたときに次の要素を表示するイベントを設定
        function handleFileInput(type, index) {
            const input = document.getElementById(`id_${type}${index}`);
            const label = document.getElementById(`label_${type}${index}`);
            const fileNameSpan = document.getElementById(`file_name_${type}${index}`);

            if (input && label && fileNameSpan) {
                input.addEventListener('change', function() {
                    if (input.files.length > 0) {
                        fileNameSpan.textContent = input.files[0].name;
                        showNextElement(type, index);
                    } else {
                        fileNameSpan.textContent = '選択されていません';
                    }
                });
            }
            //if (input && label && fileNameSpan) {
                //label.addEventListener('click', function() {
                    //input.click();
                //});
        }

        //handleFileInput関数を使用して、各photoおよびmovieフィールドに対してファイルが選択されたときの
        // 動的な表示を設定
        // photoファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('photo', i);
        }

        // movieファイルの処理
        for (let i = 1; i <= 4; i++) {
            handleFileInput('movie', i);
        }

        // 添付ファイルを選択後、ファイル名を更新する関数
        function updateFileName(input, fileNameSpanId) {
            const fileNameSpan = document.getElementById(fileNameSpanId);
            if (fileNameSpan) {
                if (input.files.length > 0) {
                    fileNameSpan.textContent = input.files[0].name;
                } else {
                    fileNameSpan.textContent = '選択されていません';
                }
            }
        }
    });
    document.getElementById('updateform').addEventListener('submit', function (event) {
        // ボタンがクリックされたらローディング画面を表示
        document.getElementById('loading').style.display = 'block';
        // アニメーションを開始
        document.querySelector('.dli-loading-1').classList.add('rotate-animation');
    });

    function changeBackgroundColor(photoNumber) {
        var checkbox = document.getElementById("photo" + photoNumber + "_delete");
        var container = document.getElementById("backcolor_photo" + photoNumber + "");
    
        // Toggle the 'checked' class based on checkbox state
        container.classList.toggle("checked", checkbox.checked);
    }
</script>
{% endblock %}
