<!-- 日記削除画面 -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記削除{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/home-page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} today_diary_detail.htmlまたはtoday_counseling.htmlに遷移させてください {% endcomment %}
            <a href="">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>
    <h1>日記削除</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--blue"><!-- 追加した要素 -->
    <div class="scroll--content">

        {% comment %} <form method="POST" action="{% url 'diary:home_top' diary.pk %}" enctype="multipart/form-data"><!--次のページに遷移させてください--> {% endcomment %}
            {% csrf_token %}
            <!-- ユーザーが保存した日記の表示 -->
            <div class="content__today-diary__text">
                <ul>
                    <br>作成日時：{{diary.created_date}}</br><br>
                    <br>日記内容：{{ diary.content }}</br><br>
                    {% if diary.photo1 %}
                        <img src="{{ diary.photo1.url }}" alt="Diary Photo1">
                    {% endif %}
                    {% if diary.photo2 %}
                        <img src="{{ todya.photo2.url }}" alt="Diary Photo2">
                    {% endif %}
                    {% if diary.photo3 %}
                        <img src="{{ diary.photo3.url }}" alt="Diary Photo3">
                    {% endif %}
                    {% if diary.photo4 %}
                        <img src="{{ todya.photo4.url }}" alt="Diary Photo4">
                    {% endif %}
                </div>
            </div>


        </div><!-- content__today-diary__group -->

        <!-- ネコココメントの画像 -->
        <div class="content__today-diary__comment__img">
            {{ diary.ai_comment }}
            {% comment %} <img src="{% static'diary/assets/neko_comment.svg' %}" alt="ネココの画像"> {% endcomment %}
        </div>

        <div class="deleta__diary__comment__text">
            <p>日記を削除すると感情分析の</p>
            <p>データも削除されます。</p>
            <p>日記を削除しますか？</p>
        </div>
            <div class="button">
                <a href="{% url 'diary:home_top' diary.pk  %}" onclick="location">日記を削除</a>
            </div>
        </form>

        <div class="cancel__button">
            <button id="back-button" type="button" onclick="history.back()">キャンセル</button>
        </div>

    </div><!-- scroll content -->
</main>
{% endblock %}