<!-- 日記編集画面 -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}日記編集{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            <button type="button" onclick="history.back()"><img src="{% static 'assets/back_arrow.png' %}">戻る</button>
        </div>
    <div class="header__nowdate">
        {{ 現在の日付と曜日を表示おねがいします 0000/00/00(月) }}
    <div class="header__weather">
        {{ 天気を表示おねがいします  }}
        <div class="header__weather__img">
            <img src="{% static 'assets/{{ 天気のアイコンを表示させてください  weather_icon (晴れ sunny.png 曇り cloud.png 雨 rain.png)}}' %}"alt="天気の画像" >
        </div>
        {{ 気温を表示おねがいします 00℃ }}
</header>
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'create_diary_confirmation.html' %}"><!--次のページに遷移させてください-->
    {% csrf_token %}
    <div class="content__today-diary__text">
        <img src="透過画像のパス" alt="透過画像" class="follow-image">
            <input type="textarea" placeholder="テキストを入力してください (最大1000字まで)" oninput="updateImagePosition(this)">
            <!-- 保存されている日記を表示お願いします -->
            <div class="content__diary__text">
                <p>
                    {{ ユーザーが入力した日記を表示させてください }}
                </p>
            </div>
    </div>
        <div id="char-count">文字数: 0</div>
    <!--Javascriptでテキストボックス内にネココを透過させた画像を追従させます-->
    <!--Javascriptで文字数をカウントします-->
    </div>
    <div class="icon__button">
        <label for="image"><img src="{% static'assets/image.png' %}">写真・動画を添付</label>
        <input type="file" id="media" name="media" accept="image/*,video/*">
    </div>

        <!-- ユーザーが保存した画像の表示(とりあえず4枚表示すると仮定して) -->
        {% if 画像があれば %}
        <div class="content__today-diary__img">
            <img src="{{ ユーザーが保存した画像を表示させてください }}" alt="日記の画像">
        </div>
    {% endif %}
    {% if 画像があれば %}
        <div class="content__today-diary__img">
            <img src="{{ ユーザーが保存した画像を表示させてください }}" alt="日記の画像">
        </div>
    {% endif %}
    {% if 画像があれば %}
        <div class="content__today-diary__img">
            <img src="{{ ユーザーが保存した画像を表示させてください }}" alt="日記の画像">
        </div>
    {% endif %}
    {% if 画像があれば %}
        <div class="content__today-diary__img">
            <img src="{{ ユーザーが保存した画像を表示させてください }}" alt="日記の画像">
        </div>
    {% endif %}

    <div class="cancel__button">
        <button type="button">確認</button>
    </div>
</form>
{% endblock %}