<!--ヘルプ一覧画面-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}ヘルプ{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} help.htmlに遷移させてください {% endcomment %}
            <a href="">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>
    <h1>ヘルプ</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<div class="help__menu">
<ul>
    <li><a href="/help_diary.html">日記作成</a></li>
    <li><a href="/help_diary_edit.html">日記の編集・削除</a></li>
    <li><a href="/help_calender.html">月間・週間カレンダー</a></li>
    <li><a href="/help_graph.html">統計グラフ</a></li>
</ul>
</div>

<div class="neko__dango.image">
    <img src="{% static 'diary/assets/back_arrow.png' %}">
</div>
{% endblock %}