<!-- ログイン後トップ画面（ホーム）のち日記詳細画面 -->
{% extends "base_diary.html" %}

{% load static%}

{% block title %}ホームトップ{% endblock %}

{% block header %}
<header>
    {% comment %} create_diary.htmlのヘッダーと同じ表記なので完成次第ここにもコピペする {% endcomment %}
</header>
{% endblock %}

{% block content %}
<div class="content__home">
    <div class="content__home__logo">
        <img src="{% static 'diary/assets/logo.png' %}" alt="ロゴ">
    </div>
    <div class="content__home__text">
        <p>今日はどんな1日ですか？
            感じたことを書き残そー。
        </p>
    </div>
    <div class="content__home__img">
        <img src="{% static 'diary/assets/home_top_neko.png' %}" alt="ネコの画像">
    </div>
    <div class="btn--large">
        {% comment %} create_diary.htmlに遷移させてください {% endcomment %}
        <button type="button" onclick="location.href='{% url 'diary:create_diary' %}'">日記を書く</button>
    </div>
</div>


----------------------------------------------------------
触らないで検証中（原田
<div id="address"></div><script>
  function getLocation() {
    navigator.geolocation.getCurrentPosition(
      function(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        const geocoder = new google.maps.Geocoder();
        geocoder.geocode(
          {
            location: { lat: latitude, lng: longitude },
          },
          function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                const addressComponents = results[0].address_components;
                let prefecture, city;

                // 住所コンポーネントから都道府県と市区町村を抽出
                for (let i = 0; i < addressComponents.length; i++) {
                  const types = addressComponents[i].types;
                  if (types.includes("administrative_area_level_1")) {
                    prefecture = addressComponents[i].long_name;
                  } else if (types.includes("locality")) {
                    city = addressComponents[i].long_name;
                  }
                }

                // 住所を画面に表示
                const formattedAddress = `${prefecture} ${city}`;
                document.getElementById("address").innerHTML = formattedAddress;
              } else {
                console.log("Geocoder: No results found");
              }
            } else {
              console.log(`Geocoder error: ${status}`);
            }
          }
        );
      },
      function(error) {
        console.log(`Geolocation error: ${error.code}`);
      }
    );
  }

  getLocation();
</script>
<div id="address"></div>
-----------------------------------------------------------------

{% endblock %}