<!-- ロード画面のコンテンツ -->
<div id="loader" style="display: none;">
    <p style="font-size: 24px; color: #333;">Loading...</p>
</div>
</div>

< script >
// ロード画面呼び出し
    function showLoadingScreen() {
        document.getElementById('loader').style.display = 'block';
    }

    function hideLoadingScreen() {
        document.getElementById('loader').style.display = 'none';
    }

    function showLoadingScreenAndRedirect() {
        showLoadingScreen(); // ロード画面を表示

    function showLoadingScreenAndRedirect1() {
        var redirectUrl = '/diary:positive_conversion';  // ボタン1用のリダイレクト先URL
        window.location.href = redirectUrl;  // リダイレクト
    }

    function showLoadingScreenAndRedirect2() {
        var redirectUrl = '/diary:today_diary_detail';  // ボタン2用のリダイレクト先URL
        window.location.href = redirectUrl;  // リダイレクト
    }

            // 待ち時間後にリダイレクト
            setTimeout(function() {
                hideLoadingScreen(); // ロード画面を非表示
                window.location.href = redirectUrl;
            }, 5000); // 5秒後にリダイレクト
        }
</ script>