<!--ログアウト画面-->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            <button type="button" onclick="history.back()"><img src="{% static 'diary/assets/back_arrow.png' %}">戻る</button>
        </div>
    </div>
    <h1>ログアウト</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="scroll--content">

        <div class="cancel__neko.image">
            <img src="{% static 'diary/assets/cancel__neko.svg' %}">
        </div>

        <div class="logout__text">
            <p>ログアウトしますか？</p>
        </div>

        <!--ログアウト-->

            {% csrf_token %}
            <div class="button">
                <a href="{% url 'user:logout' %}">ログアウト</a>
            </div>

            <div class="cancel__button">
                <button id="back-button" type="button" onclick="history.back()">キャンセル</button>
            </div>

    </div>
</main>
{% endblock %}
```