<!--ログアウト実行画面 -->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>ログアウト</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="scroll--content">

        <h1 class="logout__success__title">ログアウトしました</h1>

        <!-- ネコココメント -->
        <div class="logout__success-text">
            <p>ログイン画面を表示する場合は、<br>「トップページへ」ボタンを<br>クリックしてくださいにゃ</p>
        </div>

        <!-- ネココの画像 -->
        <div class="content__today-diary__comment__img">
            <img src="{% static'diary/assets/member_neko.svg' %}" alt="ネココの画像">
        </div>

        <div class="button">
            <button id="save-button" type="submit" onclick="location.href='{% url 'diary:home_top.htmlへ遷移お願いします' %}'">トップページへ</button>
        </div>

    </div>
</main>
{% endblock %}