<!--ログアウト画面-->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            <button type="button" onclick="location.href='{% url 'setting.htmlに遷移させてください' %}'"><img src="{% static 'diary/assets/back_arrow.png' %}">戻る</button>
        </div>
    </div>
        <div class="header__text">
            <p>設定</p>
        </div>
</header>
{% endblock %}

{% block content %}

<div class="cancel__neko.image">
    <img src="{% static 'diary/assets/cancel__neko.png' %}">
</div>

<div class="logout__text">
    <p>ログアウトしますか？</p>
</div>

<!--ログアウト-->
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="button">
        <button type="submit" id="deleta-button" onclick="location.href='{% url 'logout_success.htmlに遷移させてください' %}'">ログアウト</button>
    </div>
</form>

    <div class="cancel__button">
        <button id="back-button" type="button" onclick="history.back()">キャンセル</button>
    </div>
{% endblock %}
```