<!--ログアウト画面-->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} setting.htmlに遷移させてください {% endcomment %}
            <a href="">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292893 8.70711C-0.097631 8.31658 -0.097631 7.68342 0.292893 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM2 9L1 9L1 7L2 7L2 9Z" fill="white"/>
                </svg>
                戻る</a>
        </div>
    </div>
    <h1>ログアウト</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}

<div class="cancel__neko.image">
    <img src="{% static 'diary/assets/cancel__neko.png' %}">
</div>

<div class="logout__text">
    <p>ログアウトしますか？</p>
</div>

<!--ログアウト-->
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="button">
        <button type="submit" id="deleta-button" onclick="location.href='{% url 'logout_success.htmlに遷移させてください' %}'">ログアウト</button>
    </div>
</form>

    <div class="cancel__button">
        <button id="back-button" type="button" onclick="history.back()">キャンセル</button>
    </div>
{% endblock %}
```