<!--会員情報編集画面-->

{% extends "base_diary.html" %}

{% load static %}

{% block title %}会員情報変更{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            <button type="button" onclick="history.back()"><img src="{% static 'diary/assets/back_arrow.png' %}">戻る</button>
        </div>
    </div>
        <div class="header__text">
            <p>会員情報変更</p>
        </div>
</header>
{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'member_information_edit_check.html' %}"><!--次のページに遷移させてください-->
        {% csrf_token %}
        <!-- ユーザーネームの編集 -->
        <div class="content__user-name__text">
            <label for="username">ユーザーネーム</label>
            <br><input type="text" id="username" name="username">
        </div>

        <!-- メールアドレスの編集 -->
        <div class="content__user-email__text">
            <label for="email">メールアドレス</label>
            <br><input type="email" id="email" name="email">
        </div>

        <!-- パスワードの編集 -->
        <div class="content__user-password__text">
            <label for="password">パスワード</label>
            <br><input type="password" id="password" name="password">
        </div>

        <!-- 送信ボタン -->
        <div class="cancel__button">
            <button type="button">確認する</button>
        </div>
    </form>

    <div class="neko__dango.image">
        <img src="{% static 'diary/assets/back_arrow.png' %}">
    </div>

{% endblock %}