<!--会員情報編集画面（戻る場合）-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}会員情報変更{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} member_information.htmlに遷移させてください {% endcomment %}
            <a href="{% url 'diary:member_information' %}"><img src="{% static 'diary/assets/back_arrow.svg' %}">戻る</a>
        </div>
    </div>
    <h1>会員情報変更</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="content-center">

        <div class="content-center-group">
            <!--ねこ画像-->
            <img class="cancel__neko" src="{% static 'diary/assets/cancel_neko.svg' %}" alt="ネココの画像">
            <!-- enctype='multipart/form-data'でファイルアップロード -->
            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                <div class="content__member-info__cancel-text">
                    <p>変更内容は保存されません。</p>
                    <p>会員情報画面に戻りますか？</p>
                </div>

                <div class="btn--blue--info">　
                    <button type="button" id="save-button" onclick="location.href='{% url 'diary:member_information' %}'">戻る</button>
                </div>

                <div class="btn--white">
                    <button id="back-button" type="button" onclick="history.back()">キャンセル</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
