<!--会員情報編集完了画面-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}会員情報変更{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>会員情報変更</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="scroll--content">

        <h3 class="member__header-text">会員情報を変更しました</h3>

        <p class="member__content-text">メールをご確認ください</p>

        <p class="member__content-text">ご登録されたメールアドレス宛に<br><span class="highlight">変更完了メール</span>をお送りしています。</p>

        <p class="member__red-text">メールが届いているか、<br>メール受信ボックスを確認してください。</p>

        {% comment %} メール認証が終わってない {% endcomment %}
        <div class="info__date">
            <p>ユーザーネーム: {{ user.username }}</p>
            <p>メールアドレス: {{ user.email }}</p>
        </div>
        <!--メールを送信してください-->
        
        
        <img class="member__neko" img src="{% static 'diary/assets/member_neko.svg' %}">
        

        <p class="member-text__content">入力いただいたメールアドレスが<br>間違っていたと予想される場合は、変更手続きを<br>初めからやり直してください。</p>
    {% comment %} 
        <form method="POST" action="{% url 'setting.html' %}"><!--次のページに遷移させてください-->
            {% csrf_token %}
            <div class="cancel__button">
                <button type="button">設定トップへ</button>
            </div>
        </form>
    {% endcomment %}
    </div>
</main>
{% endblock %}
