<!--会員情報編集確認画面-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}会員情報変更{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            <button type="button" onclick="history.back()"><img src="{% static 'diary/assets/back_arrow.svg' %}">戻る</button>
        </div>
    </div>
    <div class="header__text">
        <p>会員情報変更</p>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="scroll--content">

        <div class="member-info__check-text">
            <p>入力内容をご確認ください</p>
        </div>
        <!-- ユーザーの会員情報の表示 -->
        <div class="user-infomation">
            <div class="content__user-info__name">
                <p>ユーザーネーム</p>
                <p>{{ username }}</p>
                <hr>
            </div>
            <div class="content__user-info__email">
                <p>メールアドレス</p>
                <p>{{ email }}</p>
                <hr>
            </div>
        </div>
        <!-- 保留
        <div class="content__user-info__password">
            <p>パスワード</p>
            <p>{{ 新しく入力されたパスワードを表示させてください }}</p>
            <hr>
        </div>
        -->

        {% csrf_token %}
        {% with username=request.session.username email=request.session.email %}
            <a href="{% url 'diary:member_information_edit_comp' %}">登録</a>
        {% endwith %}
        <div class="neko__dango.image">
            <img src="{% static 'diary/assets/neko_dango.svg' %}">
        </div>
    </div>
</main>
{% endblock %}
