<!--会員情報画面-->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}会員情報{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__button">
        <div class="header__back__img">
            {% comment %} setting.htmlに遷移させてください {% endcomment %}
            <a href="{% url 'diary:setting' %}"><img src="{% static 'diary/assets/back_arrow.svg' %}">戻る</a>
        </div>
    </div>
    <h1>会員情報</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--white">
    <div class="scroll--content">

        <!-- ユーザーの会員情報の表示 -->
        <div class="user-infomation">
            <div class="content__user-info__name">
                <p class="user-label">ユーザーネーム</p>
                <p class="user-info">{{ user.username }}</p>
            <hr>
            </div>
            <div class="content__user-info__email">
                <p class="user-label">メールアドレス</p>
                <p class="user-info">{{ user.email }}</p>
            <hr>
            </div>
        </div>
        {% comment %} ハッシュ化されて表示できないので検討 {% endcomment %}
        {% comment %} <div class="content__user-info__password">
            <p>パスワード</p>
            <p>{{ user.password }}</p>
        <hr>
        </div> {% endcomment %}

            {% csrf_token %}
            <div class="btn--blue--info">
                <button type="button" onclick="location.href='{% url 'diary:member_information_edit' %}'">会員情報を変更する</button>
            </div>
        </form>

        <div class="neko__dango.image">
            <img src="{% static 'diary/assets/back_arrow.svg' %}">
        </div>
    
    </div>
</main>
{% endblock %}