<!-- ポジティブ変換画面とカウンセリング催促ポップアップ -->
{% extends "base.html" %}

{% load static%}

{% block title %}日記のポジティブ変換{% endblock %}

{% block header %}
<header>
    <div class="header__nowdate">
        {{ 現在の日付と曜日を次の書式で表示させてください→0000/00/00(月) }}
    <div class="header__nowdate">
        <div class="header__weaher">
            <div class="header__weaher__img">
                <img src="{% static "assets/{{ 天気のアイコンを表示させてください（晴れsunny.png、曇りcloud.png、雨rain.png） }}" %}}" alt="天気の画像">
            </div>
            {{ 気温を次の書式で表示させてください→00℃ }}
        </div>
</header>
{% endblock %}

{% block content %}
<!-- ユーザーが入力した日記の表示 -->
<div class="content__today-diary__text">
    <p>
        {{ ユーザーが入力した日記を表示させてください }}
    </p>
</div>

<!-- ネコ画像 -->
<div class="content__today-diary__positive-img">
    <img src="{% static "assets/positive_neko.png" %}}" alt="ポジティブな猫の画像">
</div>

<!-- ポジティブ変換した日記の表示 -->
    <!-- enctype='multipart/form-data'でファイルアップロード -->
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="content__today-diary__positive-text">
        <p>
            {{ ポジティブ変換した日記を表示させてください }}
        </p>
    </div>
    <p>日記の内容を上記に変更しますか？</p>
    <div class="button">
        <button type="submit">保存</button>
    </div>
</form>
<div class="cancel__button">
    <button id="back-button" type="button">キャンセル</button>
</div>

<!-- カウンセリング催促ポップアップ -->
    <div class="main__counseling">
        <div class="main__counseling__title">
            <h2>カウンセリング催促</h2>
        </div>
        <div class="main__counseling__content">
            <p>{{ 日記の内容をポジティブ変換したものを表示させてください }}</p>
        </div>
    </div>
    {% if カウンセリング催促ポップアップを表示させる場合 %}
    <div class="main__popup">
        <div class="main__popup__content">
            <p>カウンセリングの予約をしましょう！</p>
        </div>
        <div class="main__popup__button">
            <a href="{% url 'counseling' %}">カウンセリング予約</a>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}

{% block js %}
<script>
    // キャンセルボタンを押したときの処理
    document.getElementById("back-button").addEventListener("click", function() {
        history.back();
    });

    // カウンセリング催促ポップアップの表示
    {% if カウンセリング催促ポップアップを表示させる場合 %}
    $(function(){
        $('.main__popup').fadeIn();
    });
    {% endif %}
</script>
{% endblock %}
