<!-- 設定画面  -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>設定</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<!-- フェードイン -->
<article id="Article__setting" class="move fade">
<div class="content content--white">

<!-- メインコンテンツ -->
<main class="ground ground--white">
    <div class="setting__menu__group">
        <div class="setting__menu">
            <ul>
                <li class="list_item"><a href="{% url 'diary:member_information' %}">会員情報<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:help_fugoo' %}">Fugooとは<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:help' %}">ヘルプ<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'user:logout' %}">ログアウト<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:account_delete' %}">アカウント削除<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
            </ul>

            <div class="setting__menu__img">
                <img class="setting__menu__img-item--left" data-delay="0" img src="{% static 'diary/assets/setting_img_left.svg' %}">
                <img class="setting__menu__img-item--center" data-delay="6" img src="{% static 'diary/assets/setting_img_center.svg' %}">
                <img class="setting__menu__img-item--right" data-delay="1" img src="{% static 'diary/assets/setting_img_right.svg' %}">
            </div>
        </div>
    </div>
</main>

</div>
</article>
{% endblock %}

{% block js %}
<script>
    // フェードイン
    $(document).ready(function () {
        $('article').addClass('appear');
    });

    // アニメーションの遅延時間を設定
    const elements1 = document.querySelectorAll('.setting__menu__img-item--left');
    const elements2 = document.querySelectorAll('.setting__menu__img-item--center');
    const elements3 = document.querySelectorAll('.setting__menu__img-item--right');
    elements1.forEach((element) => {
        const delay = element.getAttribute('data-delay');
        element.style.animationDelay = `${delay}s`;
    });
    elements2.forEach((element) => {
        const delay = element.getAttribute('data-delay');
        element.style.animationDelay = `${delay}s`;
    });
    elements3.forEach((element) => {
        const delay = element.getAttribute('data-delay');
        element.style.animationDelay = `${delay}s`;
    });
</script>
{% endblock %}