<!-- 設定画面  -->
{% extends "base_diary.html" %}

{% load static %}

{% block title %}設定{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/setting_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>設定</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<!-- 背景色のフェードイン -->
<article id="myArticle" class="move fade">
    {% comment %} <div class="animation-bg">
        <div class="animation-bg__flex-box">
            <img class="animation-bg__logo" src="{% static 'diary/assets/logo.png' %}" alt="ロゴ">
            <img class="animation-bg__img" src="{% static 'diary/assets/home_top_neko.png' %}" alt="ネコの画像">
        </div>
    </div> {% endcomment %}
    <div class="content">

<!-- メインコンテンツ -->
<main class="ground ground--white">
    <div class="setting__menu__group">
        <div class="setting__menu">
            <ul>
                <li class="list_item"><a href="{% url 'diary:member_information' %}">会員情報<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:help_fugoo' %}">Fugooとは<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:help' %}">ヘルプ<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'user:logout' %}">ログアウト<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
                <li class="list_item"><a href="{% url 'diary:account_delete' %}">アカウント削除<img src="{% static 'diary/assets/arrow.svg' %}"></a></li>
            </ul>

            <div class="setting__menu__img">
                <img class="setting__menu__img-item" img src="{% static 'diary/assets/family_neko.svg' %}">
            </div>
        </div>
    </div>
</main>

</div>
</article>
{% endblock %}

{% block js %}
<!-- フェードイン -->
<script src="{% static 'diary/js/fade-in.js' %}"></script>
{% endblock %}