<!-- カウンセリング実行画面（ホーム）-->
{% extends "base.html" %}

{% load static%}

{% block title %}カウンセリング詳細{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div>
    <h1 class="date">--/--(-)</h1>
    <div class="header__weather">
        <img class="weatherImg">
        <span class="tempMax">-℃</span>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- タブ -->
<div class="tab__button">
    <div class="tab__button--left">
        <button type="button" onclick="location.href='{% url 'today_diary_detail.htmlに遷移させてください' %}'">
            日記詳細</button>
    </div>
    <div class="tab__button--right">
        <button type="button" onclick="location.href='{% url 'today_diary_graph.htmlに遷移させてください' %}'">
            グラフ</button>
    </div>
</div>

<!-- 編集削除ボタン -->
<div class="content__today-diary__group">
    <div class="icon__button">
        <div class="icon__button__delete">
            <a href="{% url  diary_delete.htmlに遷移させてください %}">
                <img src="{% static'diary/assets/delete.png' %}">削除</a>
        </div>
        <div class="icon__button__edit">
            <a href="{% url  diary_update.htmlに遷移させてください %}">
                <img src="{% static'diary/assets/edit.png' %}">編集</a>
        </div>
    </div>

    <!-- ユーザーが保存した日記の表示 -->
    <div class="content__today-diary__text">
        <p>
            {{ ユーザーが入力した日記を表示させてください }}
        </p>
    </div>

    <!-- ユーザーが保存した画像の表示 -->
    {% if 画像があれば %}
        <div class="content__today-diary__images">
            {% for 画像を表示させてください %}
                <div class="content__today-diary__img">
                    <a href="#" data-image-id="{{ 画像のid }}">
                    <img src="{{ ユーザーが保存した画像を表示させてください }}" alt="日記の画像">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div><!-- content__today-diary__group -->

<!-- ネココのカウンセリングコメント -->
<div class="content__today-diary__counseling-comment">
    <p>
        {{ カウンセリングのコメントを表示させてください }}
    </p>
</div>
<!-- ネコココメントの画像 -->
<div class="content__today-diary__comment__img">
    <img src="{% static'diary/assets/counselor_neko.png' %}" alt="カウンセラーネココの画像">
</div>

<!-- 画像のポップアップ -->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="image-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="image-modal-image" class="img-fluid" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script>
    // 画像をクリックしたときに画像ポップアップを開く
    $(".content__today-diary__images a").on("click", function(e) {
    // 画像ポップアップのコンテンツを取得
    let image = $(this).data("image-id");
    let imageUrl = $("#diary-{{ diary.id }}-image-{{ image }}").attr("src");

    // 画像ポップアップを開く
    $("#image-modal-image").attr("src", imageUrl);
    $("#image-modal").modal("show");

    // イベントをキャンセル
    e.preventDefault();
    });
</script>
{% endblock %}