<!--週間統計グラフと総評画面-->
{% extends "base_diary.html" %}
{% load static %}
{% block title %}グラフ{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'diary/css/calendar-week_page.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header__spacer--top"></div> <!-- 追加した要素 -->
    <h1>週間グラフ</h1>
    <div class="header__spacer"></div> <!-- 追加した要素 -->
</header>
{% endblock %}

{% block content %}
<main class="ground ground--blue"><!-- 追加した要素 -->
    <div class="scroll--content">
        <div class="calendar--background week-graph-page">
            <!-- タブ -->
            {% url 'diary:calender_week' selected_date as calender_week_url %}
            {% url 'diary:week_graph' selected_date as week_graph_url %}
            <div class="tab__button a--tab">
                <div class="a--tab--left {% if request.path == calender_week_url %}active{% endif %}">
                    <a href="{{ calender_week_url }}">週間カレンダー</a>
                </div>
                <div class="a--tab--right {% if request.path == week_graph_url %}active{% endif %}">
                    <a href="{{ week_graph_url }}">週間グラフ</a>
                </div>
            </div>

            <!-- 週間のページネーション -->
            <div class="col-md-6">
                <div class="text-right">
                  <div class="next__button">
                  <a href="{% url 'diary:week_graph' week_start %}">
                    <img src="{% static 'diary/assets/left_arrow.svg' %}">
                  </a>
                    <div calss="text-center">
                        <span id="year-month"></span>
                    </div>
                    <a href="{% url 'diary:week_graph' week_start_up %}">
                      <img src="{% static 'diary/assets/right_arrow.svg' %}">
                    </a>
                  </div>
                    {% comment %} 今週に戻る {% endcomment %}
                    <div class="a--blue">
                    <a href="{% url 'diary:week_graph' %}"><img src="{% static 'diary/assets/return_arrow.svg' %}">今週</a>
                    </div>
                </div>
            </div>

            <!-- グラフの表示 -->
            <div id="emotion__graph">
                <div class="emotion__graph__img">
                    <canvas id="barChart" width="400" height="85"></canvas><!-- 棒グラフ -->
                    <canvas id="lineChart" width="400" height="200"></canvas><!-- 折れ線グラフ -->
                </div>
            </div>
            <!-- ネココのカウンセリングコメント -->
            <div class="content__home__text--pink">
                <div class="content__today-diary__comment">
                    <p>
                    {{ ai_comment }}
                    </p>
                    <!-- ネコココメントの画像 -->
                    <div class="content__today-diary__comment__img">
                        <img src="{% static 'diary/assets/pink_iconneko.svg' %}" alt="カウンセラーネココの画像">
                    </div>
                </div>
            </div>
            <form id="form-loading" method="POST" action="{% url 'diary:week_graph' selected_date=selected_date %}" enctype="multipart/form-data">
              {% csrf_token %}
              <button type="submit" onclick="submitForm()">更新</button>
              <div id="loading">
                <img id = "logo" src="{% static 'diary/assets/logo.svg'%}" alt="Loading Image">
                <div class="loading-content">
                  <img id = "teacat" src="{% static 'diary/assets/tea_neko.svg'%}" alt="Loading Image">
                  読み込み中...
                </div>
              </div>
            </form>
            
        </div>
    </div>
</div>

</main>
<script>
  var ctx = document.getElementById('lineChart').getContext('2d');
  var chartData = {{ data|safe }};
  
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: chartData.date,
          datasets: [
              {
                  label: '好調',
                  data: chartData.positive,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1,
              },
              {
                  label: '不調',
                  data: chartData.negative,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1,
              },
              {
                  label: '普通',
                  data: chartData.neutral,
                  backgroundColor: 'rgba(255, 255, 0, 0.2)',
                  borderColor: 'rgba(255, 255, 0, 1)',
                  borderWidth: 1,
              },
              {
                  label: '複雑',
                  data: chartData.mixed,
                  backgroundColor: 'rgba(128, 128, 128, 0.2)',
                  borderColor: 'rgba(128, 128, 128, 1)',
                  borderWidth: 1,
              }
          ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
<script>
  var ctx = document.getElementById('barChart').getContext('2d');
  var chartData = {{ data|safe }};

  // 平均を計算する関数
  function calculateAverage(dataArray) {
    if (dataArray.length === 0) {
      return 0;
    }
    var sum = dataArray.reduce((total, value) => total + value, 0);
    return Math.floor(sum / dataArray.length);
  }

  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [''], // ラベルを設定
        datasets: [
            {
                label: '好調',
                data: [calculateAverage(chartData.positive)],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
              },
            {
                label: '不調',
                data: [calculateAverage(chartData.negative)],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
            },
            {
                label: '普通',
                data: [calculateAverage(chartData.neutral)],
                backgroundColor: 'rgba(255, 255, 0, 0.2)',
                borderColor: 'rgba(255, 255, 0, 1)',
                borderWidth: 1,
            },
            {
                label: '複雑',
                data: [calculateAverage(chartData.mixed)],
                backgroundColor: 'rgba(128, 128, 128, 0.2)',
                borderColor: 'rgba(128, 128, 128, 1)',
                borderWidth: 1,
            }
        ]
    },
    options: {
        indexAxis: 'y', 
        scales: {
            x: {
                stacked: true
            },
            y: {
                stacked: true
            }
        },
        elements: {
            bar: {
                borderRadius: 20 // ゼロのスタート地点も丸くする設定
            }
        }
    }
  });
</script>
<script>
  document.getElementById('form-loading').addEventListener('submit', function (event) {
    // ボタンがクリックされたらローディング画面を表示
    document.getElementById('loading').style.display = 'block';
  });
  </script>
{% endblock %}
