.ground--blue {
    background-color: $main_background_color;
}

.img-icon {
    // margin-top: 90px;
    margin-left: 48px;
    width: 294px;
    height: auto;
} 

.login__text{
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center; // テキストを中央揃えにする
}

.html {
    display: flex; // フレックスボックスを有効にする
    justify-content: center; // 横方向に中央揃え
    align-items: center; // 縦方向に中央揃え
}

.btn--large {
    margin-top: 70px;
    margin-left: 24px;
}

.login__text {
    margin-top: 30px;
}

.btn--white {
    margin-left: 24px;
}

.text-login {
    text-align: center;
}