@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Zen+Maru+Gothic:wght@500&display=swap');
html{
    font-size: 10px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    background-color: $web_background_color;
    width: 100%;
    // height: 100%;
    height: 100dvh; // アドレスバーの高さを考慮したビューポートの高さを設定
    margin: 0; // ブラウザのデフォルトスタイルを無効化
    display: flex; // 要素を横並びにする
    flex-direction: column; // 縦並びにする
    // 背景画像を設定
    background-image: url("https://teamc.o-hara-oita.click/static/user/assets/html_groud.png");
    background-size: cover; // 画像を拡大縮小し、余白ができないようにする
    background-attachment: fixed; // 背景画像をページ上で固定
    background-position: center top; // 背景画像の位置を中央上部に配置
}

p{
    line-height: 170%;
    letter-spacing: 0.04rem;
}

a{
    letter-spacing: 0.04rem;
    text-decoration: none; // リンクの下線を消す
}

// li要素
.menu__item, .list_item{
    list-style: none;
}

// 背景色
.ground{
    &--white{
        background-color: $background_color;
    }
    &--blue{
        background-color: $main_background_color;
    }
}

// 表示領域
.ground {
    width: 39rem; // 任意の幅を設定
    max-width: 100%; // ビューポートの幅を超えないように設定
    // height: 100%;
    margin: 0 auto; // 中央に配置
}

// ロゴ画像
.logo-img {
    margin-top: 0;
}

// スマホまたは、全画面表示時のみ適用
@media only screen and (max-width: 960px) {
    // 画面全体を覆う
    .ground {
        width: 100%;
        max-width: none; // 追加
    }
    article{
        width: 100% !important;
        max-width: none !important; // 追加
    }
}
