// ログアウト・削除ページのアニメーション
.cancel__neko {
	animation: buruburu .1s  infinite;
}
@keyframes buruburu {
    0% {
        transform: translate(0, 2px) rotateZ(0deg);
    }
    25% {
        transform: translate(2px, 0) rotateZ(1deg);
    }
    50% {
        transform: translate(2px, 2px) rotateZ(0deg);
    }
    75% {
        transform: translate(2px, 0) rotateZ(-1deg);
    }
    100% {
        transform: translate(0, 0) rotateZ(0deg);
    }
}

// フェードイン
.article__content {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
article.appear .article__content {
    opacity: 1;
    pointer-events: auto;
}
.animation .article__content {
    opacity: 1;
    pointer-events: auto;
}