// 見出し
.change-text {
    color: #333;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 1.12px;
    text-align: center; // テキストを中央揃えにする
}

// こちらからログインのテキスト
.form__login {
    text-align: center; // テキストを中央揃えにする
    color: #333;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
    letter-spacing: 0.56px;
    margin-left: 20px;
    margin-right: 20px;
}

// 目のアイコンを追加 入力欄のスタイル
.password-wrapper {
    display: flex;
    max-width: 342px;
    height: 45px;
    border: 1px solid #A29C9C;
    background: #FFF;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 5px;
}
// フォーカスが .password-wrapper 内の要素にある場合に適用
.password-wrapper:focus-within {
    outline: none; // フォーカス時のアウトラインを無効化
    border: #FFC700 2px solid;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}
// パスワード入力フィールド
#id_password1, #id_password2, #id_password, input[type=password] {
    flex: 1; // フレックスコンテナ内で均等に広がるように指定
    outline: none;
    appearance: none; // ブラウザのデフォルトのスタイルをリセット
    padding: 10px 0 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    // プレースホルダー位置調整
    margin-top: 2px;
    margin-left: 6px;
}
// パスワード表示切り替えボタン
.password__toggle {
    width: 20px;
    margin-top: 11px;
    margin-right: 5px;
    border: none;
    background: url("https://teamc.o-hara-oita.click/static/user/assets/visibility_off.svg");
    background-size: 100% auto; // 画像のサイズを50%にする
    background-repeat: no-repeat; // 画像の繰り返しを無効化
    cursor: pointer;
}
// .is-visible クラスがある場合には visibility.svg に切り替わる
.password__toggle.is-visible {
    background-image: url("https://teamc.o-hara-oita.click/static/user/assets/visibility.svg");
}
// パスワード表示切り替えボタン（hover時）
@media (any-hover: hover) {
    .password__toggle:hover {
        opacity: 0.7;
    }
}
// パスワード入力フィールドのラベル
.form-password__input__label{
    margin: 0;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: #999999;
}