.wrapperHeader {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-align: center; // テキストを中央揃えにする
}

.signup-text {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-align: center; // テキストを中央揃えにする
}

.login-text {
    text-align: center; // テキストを中央揃えにする
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
    letter-spacing: 0.56px;
    margin-left: 20px;
    margin-right: 20px;
}

img.img__logo {
    // margin-left: 24px;
    display: flex;
    width: 96px;
    height: 48px;
}   

img.img__logo {
    transform: translateX(280px); /* ここに移動させたい距離を指定 */
}

// .back-home {
//     margin-top: 350px;
// }