// 戻るボタン
.header__back__img  a{
    img {
        margin-right: 8px;
        margin-top: 2px;
    }
}

// article要素のid属性がpassword_reset__articleの場合
#password_reset__article{
    margin-top: 55px;
}
// トップページに戻るボタン
#password_reset__back-home{
    // display: block;
    margin: 0 auto;
}
// エラーメッセージ
.errorlist {
    li{
        color: red;
        font-weight: 500;
    }
}

// chromeの場合に背景色が切れるため修正
@media only screen and (max-height: 599px) {
    header, .ground, footer {
        height: 100vh;
    }
}