.form-content p input {
    // ここにスタイルを書く
    width: 100%;  // テキストボックスの幅を親要素の100%に設定
    display: flex;
    width: 342px;
    height: 45px;
    padding: 16px 0px 16px 16px;
    justify-content: center;
    align-items: center;
    // gap: 8.876px;
    flex-shrink: 0;
    margin-bottom: 16px;
    font-size: 1.6rem;

    border-radius: 8.876px;
    border: 1px solid #A29C9C;
    background: #FFF;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

input[type="username"], input[type="email"], input[type="password"], input[type="password"] {
    width: 100%;  // テキストボックスの幅を親要素の100%に設定
    display: flex;
    width: 342px;
    height: 45px;
    padding: 16px 0px 16px 16px;
    justify-content: center;
    align-items: center;
    // gap: 8.876px;
    flex-shrink: 0;
    margin-bottom: 16px;
    font-size: 1.6rem;

    border-radius: 8.876px;
    border: 1px solid #A29C9C;
    background: #FFF;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

label {
    font-size: 1.4rem;
}

.header__back__img  a{
    margin-left: 24px;
    display: flex;
    width: 96px;
    height: 48px;
    // padding: 18px 28px 10px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #FFF;
    background:#00ABB6;

    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;

    &:hover {
        background-color: #008999;
    }

    img {
        margin-right: 8px;
        margin-top: 2px;
    }
        logo-img {
        margin-left: 170px;  // 中央揃え
    }
}    

.btn--blue {
    margin-top: 40px;
    margin-left: 24px;
}

.change-text {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-align: center; // テキストを中央揃えにする
}

.form__password {
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.56px;
    margin-left: 20px;
    margin-right: 20px;
}

// .change-text {
//     text-align: center; // テキストを中央揃えにする
//     color: #000;
//     text-align: center;
//     font-size: 2rem;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 170%; /* 23.8px */
//     letter-spacing: 0.56px;
//     margin-left: 20px;
//     margin-right: 20px;
// }

.back-home {
    margin-left: 109px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form__email {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}