// フォームのスタイル
.form-content p input {
    width: 100%;  // テキストボックスの幅を親要素の100%に設定
    display: flex;
    width: 342px;
    height: 45px;
    padding: 16px 0px 16px 16px;
    justify-content: center;
    align-items: center;
    // gap: 8.876px;
    flex-shrink: 0;
    margin-bottom: 16px;
    font-size: 1.6rem;

    border-radius: 8.876px;
    border: 1px solid #A29C9C;
    background: #FFF;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}
// メール入力フォーム
#id_username, input[type="email"] {
    width: 100%;  // テキストボックスの幅を親要素の100%に設定
    display: flex;
    height: 45px;
    padding: 16px 0px 16px 16px;
    justify-content: center;
    align-items: center;
    // gap: 8.876px;
    flex-shrink: 0;
    margin-bottom: 16px;
    font-size: 1.6rem;

    border-radius: 8.876px;
    border: 1px solid #A29C9C;
    background: #FFF;
    box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
    &:focus {
        outline: none; // 輪郭線を消す
        outline: #FFC700 2px solid;
        box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25); // フォーカス時の影を追加
    }
}