// 入力フォーム必須部分のスタイル
.user-infomation__span{
    margin-left: 24px;
    font-size: 1.4rem;
    color: red;
    font-weight: 500;
}

// 登録ステップ
.progressbar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap; // 要素が横に並び切れない場合に改行
    justify-content: space-between;
}
.progressbar li {
    position: relative;
    list-style-type: none; //  リストのデフォルトのマーカーを非表示
    text-align: center;
    text-transform: uppercase; // テキストを大文字に変換
    width: 33.333%;
    color: #999999;
    font-weight: bold;
    counter-increment: steps; // カウンター steps を増やす
}
// 各進捗ステップの前に表示される番号やカウンターに関するスタイル
.progressbar li:before {
    position: relative;
    z-index: 2;
    display: block;
    width: 26px;
    height: 26px;
    margin: 7px auto;
    content: ''; // コンテンツなし
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: #ccc;
    content: counter(steps); // カウンターの値を表示
}
// 各進捗ステップの間に表示される線に関するスタイル
.progressbar li:after {
    position: absolute;
    z-index: 1;
    top: 19px;
    left: -50%;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ccc;
}
// 兄弟要素のグループの中で最初の要素の場合は線を非表示にする
.progressbar li:first-child:after {
    content: none;
}
// アクティブまたは完了ステップのテキスト色
.progressbar li.active,
.progressbar li.complete{
    color: #04CAD6;
}
// アクティブまたは完了ステップの番号やカウンターの背景色
.progressbar li.active:before,
.progressbar li.complete:before {
    background-color: #04CAD6;
    color: #FFF;
}
// アクティブまたは完了ステップの間の線の色
.progressbar li.active:after,
.progressbar li.complete:after {
    background-color: #04CAD6;
}

// スマホまたは、全画面表示時のみ適用
@media only screen and (min-height: 600px){
    // 登録ステップ
    .progressbar {
        padding-top: 0;
    }
}