@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Zen+Maru+Gothic:wght@500&display=swap");
html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background-color: #FFFDF3;
  width: 100%;
  height: 100vh; /* height: 100% を min-height: 100vh に変更 */
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("http://localhost/static/user/assets/html_groud.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

p {
  line-height: 170%;
  letter-spacing: 0.04rem;
}

a {
  letter-spacing: 0.04rem;
  text-decoration: none;
}

.menu__item, .list_item {
  list-style: none;
}

.ground--white {
  background-color: #FFFFFF;
}
.ground--blue {
  background-color: #EEFEFF;
}

header, .ground, footer {
  width: 39rem;
  max-width: 100%;
  margin: 0 auto;
}

header {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  top: 0;
  right: 0;
  left: 0;
  color: #FFFFFF;
  background-color: #EEFEFF;
  height: 5rem;
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0;
}
header h1 {
  font-size: 2rem;
  font-weight: 400;
}
header .header__spacer--top {
  margin-right: auto; /* h1以外の要素を左寄せにする */
  display: flex;
  width: 7.2rem;
  height: 2.8rem;
}
header .header__button {
  margin-right: auto; /* h1以外の要素を左寄せにする */
  display: flex;
}
header .header__button a {
  display: flex;
  align-items: center;
  width: 7.2rem;
  height: 2.8rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: 0.1rem solid #FFF;
  background-color: #04CAD6;
}
header .header__button a svg {
  margin-right: 0.5rem;
}
header .header__button a:hover {
  background-color: #00A3AE;
}
header .header__spacer, header .header__weather {
  margin-left: auto; /* 要素を右寄せにする */
  width: 7.2rem;
  height: 2.8rem;
}
header .weatherImg {
  max-width: 2.2rem;
  height: auto;
  padding-bottom: 0.4rem;
}
header .header__weather span {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  text-align: right;
}

.logo-img {
  margin-top: 0;
}

@media only screen and (max-width: 960px) {
  header, .ground, footer {
    width: 100%;
    max-width: none;
  }
  header {
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
  }
  header a {
    width: 72px;
    height: 28px;
    font-size: 14px;
    border: 1px solid #FFF;
  }
  header a svg {
    margin-right: 5px;
  }
  header a:hover {
    background-color: #00A3AE;
  }
  h1 {
    font-size: 20px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  text-align: center; /* 中央寄せを追加 */
  cursor: pointer; /* カーソルをポインターに変更することでクリッカブルであることを示す */
}
.btn--blue {
  width: 342px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.btn--blue button, .btn--blue a {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  background: var(--custom-color, #00ABB6);
  color: #FFF;
  font-size: 1.6rem;
}
.btn--blue button:hover, .btn--blue a:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}
.btn--large {
  width: 342px;
  height: 56px;
}
.btn--large button, .btn--large a {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  background: var(--custom-color, #00ABB6);
  color: #FFF;
  font-size: 1.6rem;
}
.btn--large button:hover, .btn--large a:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}
.btn--white {
  width: 342px;
  height: 48px;
}
.btn--white button, .btn--white a {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  background: var(--custom-color, #FFF);
  color: #00ABB6;
  font-size: 1.6rem;
  border: 1px solid #00ABB6;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn--white button:hover, .btn--white a:hover {
  background-color: #EAEAEA; /* マウスをかざしたときの背景色 */
}
.btn--red {
  width: 342px;
  height: 48px;
}
.btn--red button, .btn--red a {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  background: #FF4747;
  color: #FFF;
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
}
.btn--red button:hover, .btn--red a:hover {
  background-color: #E32B2B; /* マウスをかざしたときの背景色 */
}
.btn--back {
  width: 96px;
  height: 48px;
  padding: 18px 28px 10px 28px;
  border-radius: 50px;
}
.btn--back button {
  width: 100%; /* ボタンを親要素と同じ幅に広げる */
  height: 100%; /* ボタンを親要素と同じ高さに広げる */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px; /* パディングをここに移動 */
  border: none; /* ボタンのデフォルトのボーダーを削除 */
  background: transparent; /* 背景を透明にする */
  cursor: inherit; /* 親要素のカーソルスタイルを継承する */
  border-radius: 50px;
  font-family: "Noto Sans JP", sans-serif;
  background: var(--, #00ABB6);
  color: #FFF;
  font-size: 1.6rem;
}
.btn--back button:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}

.user-infomation {
  width: 342px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}
.user-infomation .user-label {
  font-size: 1.4rem;
  margin: 0;
}
.user-infomation .user-info {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  padding: 16px;
}

#id_username, input[type=email] {
  width: 100%;
  display: flex;
  width: 342px;
  height: 45px;
  padding: 16px 0px 16px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border-radius: 8.876px;
  border: 1px solid #A29C9C;
  background: #FFF;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
}

.back-home {
  display: flex;
  width: 172px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer; /* カーソルをポインターに変更することでクリッカブルであることを示す */
}
.back-home a {
  color: #A29C9C;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.back-home a:hover {
  color: #797979; /* マウスをかざしたときの背景色 */
  text-decoration: underline;
  text-decoration-color: #797979;
}

.content__home__text {
  position: relative;
  fill: #FFFFFF;
  stroke-width: 2px;
  stroke: #04CAD6;
  width: 340px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 2px solid #04CAD6;
  border-radius: 10px;
}
.content__home__text p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.content__home__text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: #04CAD6 transparent transparent transparent;
}
.content__home__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 18px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
}

.header__back__img {
  display: flex;
  align-items: center;
}
.header__back__img a {
  display: flex;
  width: 96px;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #004c54;
}
.header__back__img img {
  margin: 0;
}
.header__back__img .header__back__img a, .header__back__img .header__back__img .logo-img {
  display: inline-block;
}

.logo-img {
  width: 90.621px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 24px;
}

.back-home {
  margin-left: -11px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container__center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.img-icon {
  width: 294px;
  height: auto;
}

.login__text {
  color: #333;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
}

.btn--large {
  margin-top: 70px;
}

.login__text {
  margin-top: 30px;
}

.text-login {
  text-align: center;
}

#account_top__btn--white {
  margin-bottom: 46px;
}

label {
  font-size: 1.4rem;
}

.header__back__img a {
  margin-left: 24px;
  display: flex;
  width: 96px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #008999;
}
.header__back__img a img {
  margin-right: 8px;
  margin-top: 2px;
}
.header__back__img a logo-img {
  margin-left: 170px;
}

.btn--blue {
  margin-top: 40px;
  margin-left: 24px;
}

.signup-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.login-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.user-infomation__span {
  margin-left: 24px;
  font-size: 1.4rem;
  color: red;
  font-weight: 500;
}

.progressbar {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.progressbar li {
  position: relative;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 33.333%;
  color: #999999;
  font-weight: bold;
  counter-increment: steps;
}

.progressbar li:before {
  position: relative;
  z-index: 2;
  display: block;
  width: 26px;
  height: 26px;
  margin: 7px auto;
  content: "";
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
  content: counter(steps);
}

.progressbar li:after {
  position: absolute;
  z-index: 1;
  top: 19px;
  left: -50%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #ccc;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active,
.progressbar li.complete {
  color: #04CAD6;
}

.progressbar li.active:before,
.progressbar li.complete:before {
  background-color: #04CAD6;
  color: #FFF;
}

.progressbar li.active:after,
.progressbar li.complete:after {
  background-color: #04CAD6;
}

@media only screen and (min-height: 600px) {
  .progressbar {
    padding-top: 0;
  }
}
/* 装飾 */
.mail-text {
  color: #333;
  font-family: Noto Sans JP;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
}

.mail-text2 {
  color: #333;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.64px;
  text-align: center;
}

.mail-text3 {
  color: #333;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.header__back__img a {
  margin-left: 24px;
  display: flex;
  width: 96px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #008999;
}
.header__back__img a img {
  margin-right: 8px;
  margin-top: 2px;
}

.wrapperHeader {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.signup-text {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.login-text {
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

img.img__logo {
  display: flex;
  width: 96px;
  height: 48px;
}

.container {
  width: 100%;
  height: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500%; /* スライドの数に応じて調整 */
  background-color: #fff;
}

.slide {
  flex: 0 0 20%; /* スライドの数に応じて調整 */
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 134px; /* ボタンの高さとマージンに合わせて調整 */
  visibility: hidden;
  transition: visibility 1s ease-in-out;
}
.slide h1 {
  color: #fff;
  text-align: center;
  margin: 0 0 14px 0;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  background: #04CAD6;
  letter-spacing: 0.04rem;
}
.slide p {
  margin: 0;
  font-size: 1.6rem;
  margin-top: 15px;
  text-align: center;
}
.slide .slid__span {
  color: #04CAD6;
  letter-spacing: 0.04rem;
  font-weight: 500;
}
.slide img {
  display: block;
  margin: 0 auto;
}
.slide .slid__samll {
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
.slide .slid__span__border {
  letter-spacing: 0.04rem;
  font-weight: 700;
  background: linear-gradient(transparent 60%, rgba(4, 202, 214, 0.4) 60%);
}

.slid__img--1 {
  padding-top: 24px;
  width: 250px;
  height: auto;
}

.slid2__img--1, .slid2__img--2 {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 192px;
  height: auto;
}

.slid3__img--1, .slid4__img--1, .slid5__img--1 {
  padding-top: 24px;
}

.slide.active {
  visibility: visible;
}

.controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

button {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-container {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

.pagination__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 40px;
}

.prev-btn {
  padding: 12px 32px;
  background: var(--custom-color, #FFF);
  color: #00ABB6;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  border-radius: 50px;
  border: 1px solid #00ABB6;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.prev-btn:hover {
  background-color: #EAEAEA; /* マウスをかざしたときの背景色 */
}

.next-btn, .complete-btn {
  padding: 12px 32px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background: #00ABB6;
  color: #FFF;
}
.next-btn:hover, .complete-btn:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}

.dot.active {
  background-color: #04CAD6;
}

.complete-btn {
  display: none;
}

@media only screen and (min-height: 600px) {
  .slider-container {
    height: 100%;
  }
  .slide {
    padding-bottom: 0;
  }
  .slid__img--1 {
    padding-top: 50px;
  }
  .slid2__img--1, .slid2__img--2 {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-height: 599px) {
  .slid__img--1 {
    padding-top: 30px !important;
    width: 278px !important;
  }
  .slid2__img--1, .slid2__img--2 {
    width: 215px !important;
  }
}
@media only screen and (max-width: 376px) {
  .slide {
    padding-top: 20px !important;
  }
  .slid__img--1 {
    padding-top: 24px !important;
    width: 210px !important;
  }
  .slid2__img--1, .slid2__img--2 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .slid3__img--1, .slid4__img--1, .slid5__img--1 {
    padding-top: 10px !important;
    width: 226px !important;
  }
}
@media only screen and (min-height: 800px) {
  .slide {
    padding-top: 60px !important;
  }
  .pagination__btn {
    margin-bottom: 60px !important;
  }
  .pagination {
    margin-bottom: 30px !important;
  }
  .slide p {
    margin-top: 20px !important;
  }
}
.content-center-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cancel__neko {
  margin-bottom: 1.6rem;
}

.logout-text {
  margin: 0;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.btn--red {
  margin-bottom: 24px;
  margin-left: 20px;
  margin-top: 2rem;
}

.btn--white {
  margin-top: 0;
  margin-right: 14px;
}

@media only screen and (max-height: 599px) {
  /* 画面の高さが600px未満の場合のスタイル */
  .content-center-group {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .content-center-group .cancel__neko {
    margin-bottom: 1.6rem;
  }
  .content-center-group .logout-text {
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .content-center-group .btn--red {
    margin-bottom: 24px;
  }
  .content-center-group .btn--white {
    margin-top: 0;
  }
}
@media only screen and (min-height: 600px) {
  .cancel__neko {
    margin-bottom: 24px !important;
  }
  .logout-text {
    font-size: 20px !important;
    margin-bottom: 24px !important;
  }
  .btn--red {
    margin-bottom: 40px !important;
  }
}
.form-content p input {
  width: 100%;
  display: flex;
  width: 342px;
  height: 45px;
  padding: 16px 0px 16px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border-radius: 8.876px;
  border: 1px solid #A29C9C;
  background: #FFF;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

#id_username, input[type=email] {
  width: 100%;
  display: flex;
  height: 45px;
  padding: 16px 0px 16px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border-radius: 8.876px;
  border: 1px solid #A29C9C;
  background: #FFF;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}
#id_username:focus, input[type=email]:focus {
  outline: none;
  outline: #FFC700 2px solid;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

label {
  font-size: 1.4rem;
}

.header__back__img a {
  margin-left: 24px;
  display: flex;
  width: 96px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #008999;
}
.header__back__img a img {
  margin-right: 8px;
  margin-top: 2px;
}
.header__back__img a logo-img {
  margin-left: 170px;
}

.change-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.change-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-content p input {
  width: 100%;
  display: flex;
  width: 342px;
  height: 45px;
  padding: 16px 0px 16px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border-radius: 8.876px;
  border: 1px solid #A29C9C;
  background: #FFF;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

label {
  font-size: 1.4rem;
}

.header__back__img a {
  margin-left: 24px;
  display: flex;
  width: 96px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #008999;
}
.header__back__img a img {
  margin-right: 8px;
  margin-top: 2px;
}
.header__back__img a logo-img {
  margin-left: 170px;
}

.change-text p {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.form__password {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.form__email {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

#password_reset__article {
  margin-top: 55px;
}

#password_reset__back-home {
  display: block;
  margin: 0 auto;
}

.errorlist li {
  color: red;
  font-weight: 500;
}

@media only screen and (max-height: 599px) {
  header, .ground, footer {
    height: 100vh;
  }
  #password_reset__article {
    margin-top: 85px;
  }
}
label {
  font-size: 1.4rem;
}

.header__back__img a {
  margin-left: 24px;
  display: flex;
  width: 96px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #00ABB6;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.header__back__img a:hover {
  background-color: #008999;
}

.form__password {
  text-align: center;
  color: #333;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.form__email {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

#password__reset__done__img {
  margin-right: 24px;
}

label {
  font-size: 1.4rem;
}

.change-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.form__login {
  text-align: center;
  color: #333;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.forget-pass a {
  text-align: center;
  margin-left: 40px;
  display: flex;
  width: 318px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #A29C9C;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.password-wrapper {
  display: flex;
  max-width: 342px;
  height: 45px;
  border: 1px solid #A29C9C;
  background: #FFF;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 5px;
}

.password-wrapper:focus-within {
  outline: none;
  border: #FFC700 2px solid;
  box-shadow: 0px 1.77528px 1.77528px 0px rgba(0, 0, 0, 0.25);
}

#id_password1, #id_password2, #id_password, input[type=password] {
  flex: 1;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 0 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-top: 2px;
  margin-left: 6px;
}

.password__toggle {
  width: 20px;
  margin-top: 11px;
  margin-right: 5px;
  border: none;
  background: url("http://localhost/static/user/assets/visibility_off.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.password__toggle.is-visible {
  background-image: url("http://localhost/static/user/assets/visibility.svg");
}

@media (any-hover: hover) {
  .password__toggle:hover {
    opacity: 0.7;
  }
}
.form-password__input__label {
  margin: 0;
  margin-bottom: 3px;
  font-size: 1.4rem;
  color: #999999;
}

.signup-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.login-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.title-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.change-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

img.img__logo {
  display: flex;
  width: 96px;
  height: 48px;
}

.form-email {
  padding: 0px 0px 16px 25px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.if__change-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.email-add-text {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn--blue {
  margin-top: 40px;
}

.blockLabels {
  border: 0;
}
.blockLabels label {
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.errorlist {
  color: #333;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.buttonHolder {
  margin-top: 20px;
  margin-left: 20px;
}

.buttonHolder button {
  font-family: "Noto Sans JP", sans-serif;
  display: inline-flex;
  padding: 5px 7px 5px 7px;
  align-items: center;
  border-radius: 5px;
  background: #00ABB6;
  color: #FFF;
  border: none;
}
.buttonHolder button:hover {
  background-color: #00909A; /* マウスをかざしたときの背景色 */
}

#buttonHolder__remove-btn {
  background: #FF4747;
}
#buttonHolder__remove-btn:hover {
  background-color: #E32B2B; /* マウスをかざしたときの背景色 */
}

.secondAction {
  margin-left: 17px;
}

.primaryAction {
  margin-left: 17px;
}

/* スライドインアニメーション*/
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* タグ内のすべての要素にアニメーションを適用 */
section {
  animation: slideIn 0.5s ease-out;
}

label {
  font-size: 1.4rem;
}

.wrapperHeader {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-text {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-align: center;
}

.login-text {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.forget-pass a {
  text-align: center;
  margin-left: 40px;
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #A29C9C;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.error-message {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
  margin-left: 20px;
  margin-right: 20px;
}

.user-infomation__container {
  margin: 24px;
}

main {
  overflow-y: auto; /* コンテンツが画面外になった場合にスクロールバーを表示 */
}

main::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  border-radius: 20px;
}

main::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: rgb(173, 173, 173);
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#height__center {
  margin-top: 0;
  height: calc(100vh - 7.2rem);
}

@media only screen and (min-height: 600px) {
  .ground {
    height: 100vh !important;
  }
  .wrapperHeader {
    padding-top: 50px;
  }
  article {
    margin-top: 30px;
  }
  #height__center {
    margin-top: 0;
    height: calc(100vh - 9.8rem);
  }
  main::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    border-radius: 20px;
  }
  .back-home {
    margin-top: 50px !important;
  }
}
.back-home {
  margin-top: 30px;
}

.btn--white {
  margin-right: 0;
}

.btn--red {
  margin-left: 0;
  cursor: pointer;
}

.btn--blue {
  margin-left: 0;
}

#login__btn--blue {
  display: block;
  margin: 30px auto;
}

.forget-pass a {
  display: block;
  margin: 0 auto;
}
.forget-pass a:hover {
  text-decoration: underline;
  color: #797979;
}

button {
  cursor: pointer;
  font-weight: 700;
}

.btn--large a, #account_top__btn--white a {
  cursor: pointer;
  font-weight: 700;
}

.ground--white {
  padding-bottom: 0;
}

.ground.ground--white {
  padding-bottom: 0;
}

.error-message {
  color: red;
}
.error-message li {
  color: red;
}

[type=checkbox] {
  margin-right: 10px;
}

.accounts-link {
  color: #00ABB6;
  text-decoration: underline;
  padding: 10px 10px;
}
.accounts-link:hover {
  text-decoration: underline;
  color: #00737A;
}

article {
  background-color: #EEFEFF;
}

.login-text {
  font-size: 1.6rem;
}

#user-passwd_reset_form {
  height: 180px;
}

.user-infomation__container {
  margin: 24px 0 24px 0;
}

.form__login {
  margin-bottom: 20px;
}

.form-email {
  padding: 0px 0px 16px 0;
}

#ctrlHolder__verified {
  margin-left: 38px;
}

.buttonHolder {
  margin-left: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.user-infomation__signup {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-height: 599px) {
  #ground__login {
    height: 100%;
  }
}
#loading {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 39rem;
  max-width: 100%;
  height: 100%;
  background: #EEFEFF;
}
#loading #logo {
  width: 25%;
  margin-top: 7%;
  margin-left: 5%;
  position: absolute; /* 絶対位置に設定 */
  top: 0; /* 上端に配置 */
  left: 0; /* 左端に配置 */
}

#loading .loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 180%;
  text-align: center; /* 中央寄せを追加 */
}
#loading .loading-content #teacat {
  display: block;
  width: 55%; /* 幅を100pxに設定 */
  margin: auto;
}
#loading .loading-content .loading__text {
  font-size: 2rem;
  letter-spacing: 0.04em;
  padding-top: 30px;
  font-weight: 400;
}

#loading .loading-content .dli-loading-1 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #04CAD6;
  line-height: 1;
  width: 3rem;
  height: 3rem;
  border: 0.2em solid currentColor;
  border-top-color: rgba(4, 202, 214, 0.27);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate-animation {
  animation: rotate 1s linear infinite;
}

@media only screen and (max-width: 960px) {
  #loading {
    width: 100%;
    max-width: none;
  }
}