{% extends 'base.html' %}

{% load static %}

{% block title %}ログイン{% endblock title %}


{% block content %}
{% comment %} <section class="section-accounts" id="section-signup"> {% endcomment %}
<section>
    <main class="ground ground--blue">

    <div class="wrapperHeader">
        <div class="header__back__img">
            <a href="{% url 'user:account_top' %}"><img src="{% static 'user/assets/back_arrow.svg' %}"><span>戻る</span></a>
        </div>
            <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="logo-img">
    </div>

    <article>
    <div class="wrapper-accounts-form">
        <p class="signup-text">ログイン</p>
            <form method="post" action="{% url 'account_login' %}" class="form-accounts">
                {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error-message">
                <p>エラーが発生しました</p>
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            <div class="form-content">
                <div class="user-infomation__container">
                    <div class="user-infomation__style--center">
                        <div class="content__user-email__text">
                            <label for="email">メールアドレス</label>
                            <br><input type="email" name="login" autocomplete="email" required id="id_login" placeholder="メールアドレス">
                        </div>

                        <div class="content__user-pass__text">
                            <label for="pass">パスワード</label>
                            <div class="password-wrapper">
                                <br><input class="password__input" type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="パスワード">
                                <span class="password__toggle">
                                    <!-- 目のアイコン -->
                                </span>
                            </div>
                        </div>

                        <div class="radio-btn">
                            <label><input type="checkbox" name="remember" id="id_remember">ログイン状態を保持する</label>
                        </div>
                    </div>
                </div>
                

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
            </div>


        <div id="login__btn--blue" class="btn btn--blue">
            <button type="submit">ログイン</button>
        </div>
            <p class="forget-pass"><a href="{% url 'account_reset_password' %}">パスワードをお忘れですか？</a></p>
        </form>
    </div>
    <div class="back-home">
        <a class="backToHome" href="{% url 'user:account_top' %}">トップページに戻る</a>    
    </div>

</article>
</main>
</section>
{% endblock content %}

{% block js %}
<script>
    // パスワード表示
    const passwordToggles = document.querySelectorAll('.password__toggle');

    passwordToggles.forEach(function(toggle) {
        toggle.addEventListener('click', function() {
            const input = this.previousElementSibling;
            const type = input.getAttribute('type');
            input.setAttribute('type', type === 'password' ? 'text' : 'password');
            this.classList.toggle('is-visible');
        });
    });
</script>
{% endblock js %}