{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット変更完了{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block content %}
<section>
    <main class="ground ground--blue">

    <div class="wrapperHeader">
        <div class="header__back__img">
            <div class="header__spacer--top"></div><!-- 追加 -->
        </div>
        <img id="password__reset__done__img" src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="img__logo">
    </div>

    <article id="height__center">
        <p class="signup-text">パスワードリセット完了</p>
        <p class="login-text">パスワードが変更されました。</p>

        <div class="btn--blue">
            <a class="btn btn-blue" href="{% url 'user:account_top' %}" role="button">トップページに戻る</a>
        </div>

    </article>
    </main>
</section>
{% endblock content %}