{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block content %}
<section class="section-accounts" id="section-signup">
    <header></header>

    <div class="wrapperHeader">
        <div class="header__back__img">
            <a href="{% url 'user:account_top' %}"><img src="{% static 'user/assets/back_arrow.svg' %}"><span>戻る</span></a>
            <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="logo-img">
        </div>
    </div>

    <div class="wrapperHeader">
        <div class="change-text">
            <p>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</p>
            {% comment %} <h2>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h2> {% endcomment %}
        </div>
        <div class="form__login">
            <p>アカウントをまだお持ちでなければ、<br>こちらから<a href="{% url 'account_signup' %}"><span class="accounts-link">ユーザー登録</span></a>してください。</p>
        </div>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
    {% else %}
        {% if form %}
            <div class="wrapper-accounts-form">
                <form method="post" action="{{ passwd_reset_url }}" class="form-accounts">
                    {% csrf_token %}

                    <div class="form-content">
                        <div class="user-infomation">
                            <div class="content__user-pass__text">
                                <label for="pass">パスワード</label>
                                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
                            </div>
                            {% comment %} <div class="form-content"> {% endcomment %}
                            <div class="content__user-pass__text">
                                <label for="pass">パスワード(再入力)</label>
                                    <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
                            </div>
                        </div>
                    </div>

                    <div class="btn btn--blue">
                        <button class="accounts-btn" type="submit">変更</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="text-align-center">
                <p class="notion">パスワードは変更されています。</p>
            </div>
        {% endif %}
    {% endif %}
    <div class="back-home">
        <a class="backToHome" href="{% url 'user:account_top' %}">トップページに戻る</a>    
    </div>
</section>
{% endblock content %}