{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="section-accounts" id="section-signup">
    <header></header>

    <div class="wrapperHeader">
        <div class="header__back__img">
            <a href="{% url 'user:account_top' %}"><img src="{% static 'user/assets/back_arrow.svg' %}"><span>戻る</span></a>
            <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="logo-img">
        </div>
    </div>

    <div class="wrapper-accounts-form">
        <p class="chenge-text">パスワード変更</p>
    {% comment %} <h1>{% trans "Change Password" %}</h1> {% endcomment %}

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="btn btn--blue">
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
            </form>
{% endblock %}
