{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% comment %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% endcomment %}
{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}
<section>
    <main class="ground ground--blue">

        <div class="wrapperHeader">
            <div class="header__back__img">
                <div class="header__spacer--top"></div><!-- 追加 -->
            </div>
            <img id="password__reset__done__img" src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="img__logo">
        </div>

        <article id="height__center">
        <p class="signup-text">パスワードリセット</p>
        {% comment %} <h3><b><font color="white">{% trans "Password Reset" %}</font></b></h3></div> {% endcomment %}
    
        {% comment %} {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %} {% endcomment %}
        
        {% comment %} <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p> {% endcomment %}
        <div class="form__password">
            <p>変更申請メールを送信しました。<br>数分以内に受信しない場合はお問い合わせください。</p>
        </div>

        <div class="btn--blue">
            <a class="btn btn-blue" href="{% url 'user:account_top' %}" role="button">トップページに戻る</a>
        </div>

    </article>
</main>
</section>
{% endblock %}
