{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット変更完了{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block content %}
<section class="section-accounts" id="section-signup">
    <header></header>
    <div class="wrapperHeader">
        <div class="wrapper-accounts-form text-align-center">
            <div class="header__back__img">
                <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="img__logo">
            </div>
            <p class="signup-text">パスワードリセット完了</p>
            <p class="login-text">パスワードが変更されました。</p>
        </div>
    </div>
    <div class="back-home">
        <a class="backToHome" href="{% url 'user:account_top' %}">トップページに戻る</a>
    </div>
</section>
{% endblock content %}