{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% comment %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% endcomment %}
{% block title %}{% trans "Password Reset" %}{% endblock title %}


{% block content %}
<div class="content-wrapper">
    <header></header>
        <div class="container-fluid">
        <div class="card mb-3">
        <div class="card-header bg-primary">
            <div class="header__back__img">
                <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="img__logo">
            </div>
            <p class="signup-text">パスワードリセット</p>
        {% comment %} <h3><b><font color="white">{% trans "Password Reset" %}</font></b></h3></div> {% endcomment %}
        <div class="card-body">

    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    {% comment %} <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p> {% endcomment %}
    <div class="form__password">
        <p>メールを送信しました。数分以内に受信しない場合は、お問い合わせください。</p>
    </div>

    <div class="btn--blue">
        <a class="btn btn-blue" href="{% url 'account_login' %}" role="button">ログオン画面</a>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
