{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block content %}
{% comment %} <section class="section-accounts" id="section-signup"> {% endcomment %}
<section>
    <main class="ground ground--blue">

        <div class="wrapperHeader">
            <div class="header__back__img">
                <a href="#" onclick="history.back(); ">
                    <img src="{% static 'user/assets/back_arrow.svg' %}"><span>戻る</span></a>
            </div>
            <img src="{% static 'user/assets/fugoo.svg' %}" alt="logo" class="logo-img">
        </div>

    <article id="password_reset__article">
    <div class="wrapper-accounts-form">
        <p class="signup-text">パスワード変更</p>
    {% comment %} <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% endcomment %}

    {% comment %} <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p> {% endcomment %}
    <div class="form__password">
        <p>ご登録されているメールアドレスを入力してください</p>
    </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form__email">
            {{ form.errors.email }}
            <label for="id_email">メールアドレス</label>
            <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" required="" id="id_email">
        </div>
        <div class="btn btn--blue" id="login__btn--blue">
            {% comment %} <input type="submit" value="{% trans 'Reset My Password' %}" /> {% endcomment %}
            <button type="submit" id="reset-button">変更申請メールを送信</button>
            <!-- 入力に不備があってもロード画面が表示してしまう -->
            {% comment %} <div id="loading">
                <img id = "logo" src="{% static 'user/assets/logo.svg'%}" alt="Loading Image">
                <div class="loading-content">
                    <img id = "teacat" src="{% static 'user/assets/tea_neko.svg'%}" alt="Loading Image">
                    <p class="loading__text">メール送信中にゃ</P>
                    <span class="dli-loading-1"></span>
                </div>
            </div> {% endcomment %}
        </div>

        <div id="password_reset__back-home" class="back-home">
            <a class="backToHome" href="{% url 'user:account_top' %}">トップページに戻る
                <svg class="user__next-arrow" width="9" height="12" viewBox="0 0 9 12" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.91155 6.00367L1.27849 1.35873C1.08689 1.20073 0.994154 1.01367 1.00029 0.797541C1.00642 0.581408 1.10554 0.394557 1.29765 0.236987C1.48925 0.0789957 1.71611 0 1.97822 0C2.24033 0 2.46693 0.0789957 2.65802 0.236987L8.54016 5.10312C8.69344 5.22952 8.8084 5.37171 8.88504 5.5297C8.96168 5.68769 9 5.84568 9 6.00367C9 6.16167 8.96168 6.31966 8.88504 6.47765C8.8084 6.63564 8.69344 6.77783 8.54016 6.90423L2.63885 11.7704C2.44725 11.9284 2.22372 12.0048 1.96825 11.9998C1.71278 11.9947 1.48925 11.913 1.29765 11.7546C1.10605 11.5966 1.01025 11.4095 1.01025 11.1934C1.01025 10.9772 1.10605 10.7904 1.29765 10.6328L6.91155 6.00367Z"/>
                </svg>
            </a>
        </div>
    </div>
    </form>
    </article>

</main>
</section>
{% endblock content %}

{% comment %} {% block js %}
<script>
    document.getElementById('reset-button').addEventListener('click', function (event) {
        // ボタンがクリックされたらローディング画面を表示
        document.getElementById('loading').style.display = 'block';
        // アニメーションを開始
        document.querySelector('.dli-loading-1').classList.add('rotate-animation');
    });
</script>
{% endblock js %} {% endcomment %}


