<!-- ウォークスルー画面 -->
{% extends "base.html" %}



{% load static%}

{% block title %}Fugooとは{% endblock %}

{% block css %}
<!-- ページ固有のCSSを読み込み -->
<link rel="stylesheet" href="{% static 'user/css/user_page.css' %}">
{% endblock %}



{% block contents %}
<div class="tutorial1-page">
<main class="ground ground--white"><!-- 背景色 -->
    {% comment %} <div class="content-center"> {% endcomment %}
    <div class="scroll--content">

        <div class="container">
            <div class="slider-container">
                <div class="slider">
                    <div class="slide active">
                        <h1>Fugooとは</h1>
                        <p>Fugoo（ファグー）とは<br>
                            <span class="slid__span">Fun</span>で<span class="slid__span">Good</span>な日記アプリ！</p>
                        <p>この日記アプリはAIを活用して
                            <span class="slid__span">感情分析</span>やポジティブな<span class="slid__span">文章変換</span>、
                            AI ネココによる<span class="slid__span">コメント</span>を
                            見ることができます。</p>
                        <p>また、感情分析の<span class="slid__span">統計データ</span>で
                            感情の変化を可視化することができ、
                            思考の整理やストレス管理などの
                            <span class="slid__span">ポジティブな</span>習慣の形成を支援します。</p>
                        <img class="slid__img--1" src="{% static 'diary/assets/slide1_neko.png' %}" alt="AIネココ">
                    </div>
                    <div class="slide">
                        <h1>AI ネココ</h1>
                        <img class="slid2__img--1" src="{% static 'diary/assets/slide1_neko.png' %}" alt="AIネココ">
                        <p>ネココは好奇心旺盛で優しい猫型AI。<br>
                            相手の日記を読んで感想を送ることが大好き。
                            年齢を聞かれることが苦手。</p>
                        <p>カウンセラーモード時はピンク色になる。</p>
                        <img class="slid2__img--2" src="{% static 'diary/assets/slide2_neko.png' %}" alt="AIネココ">
                    </div>
                    <div class="slide">
                        <h1>AIネココと日記の記録</h1>
                        <p>日記をポジティブな文章に<span class="slid__span__border">変換</span>できます</p>
                        <p>AI ネココが日記に対して<br><span class="slid__span__border">レスポンス</span>を返します</p>
                        <img class="slid3__img--1" src="{% static 'diary/assets/slide3_1.svg' %}" alt="AIネココ">
                        <small class="slid__samll">詳しい使い方は設定トップ画面のヘルプからご覧ください。</small>
                    </div>
                    <div class="slide">
                        <h1>感情の統計グラフ</h1>
                        <p>毎日の感情分析結果を日・週・月ごとに<br>
                            <span class="slid__span__border">グラフ</span>で見ることができます</p>
                            <p>AI ネココが分析結果を<span class="slid__span__border">カウンセリング</span>します</p>
                            <img class="slid4__img--1" src="{% static 'diary/assets/slide4_1.svg' %}" alt="AIネココ">
                            <small class="slid__samll">詳しい使い方は設定トップ画面のヘルプからご覧ください。</small>
                    </div>
                    <div class="slide">
                        <h1>カウンセリング</h1>
                        <p>AI ネココが一般的な*心理学に基づいて<br>
                            <span class="slid__span__border">コメント</span>をくれます</p>
                        <p>感情分析の結果によって<br>
                            AI ネココが<span class="slid__span__border">カウンセリング</span>を行います</p>
                        <img class="slid5__img--1" src="{% static 'diary/assets/slide5_1.svg' %}" alt="AIネココ">
                        <small class="slid__samll">*CPT-3.5のため、事実と異なる場合があります。予めご了承ください。</small>
                    </div>
                </div>
                <div class="controls">

                    <div class="pagination">
                        <div class="dot-container">
                            <span class="dot active"></span>
                        </div>
                        <div class="dot-container">
                            <span class="dot"></span>
                        </div>
                        <div class="dot-container">
                            <span class="dot"></span>
                        </div>
                        <div class="dot-container">
                            <span class="dot"></span>
                        </div>
                        <div class="dot-container">
                            <span class="dot"></span>
                        </div>
                    </div>

                    <div class="pagination__btn">
                        <div>
                            <button class="prev-btn">前へ</button>
                        </div>
                        <div>
                            <button class="next-btn">次へ</button>
                            <button class="complete-btn">新規登録へ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</main>

{% endblock contents %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const slider = document.querySelector('.slider');
        const slides = document.querySelectorAll('.slide');
        const nextBtn = document.querySelector('.next-btn');
        const prevBtn = document.querySelector('.prev-btn');
        const dots = document.querySelectorAll('.dot-container');
        const completeBtn = document.querySelector('.complete-btn');
    
        let currentSlide = 0;

        // ページが読み込まれたときにボタンの状態を更新
        updateButtons();
    
        function showSlide(index) {
            slides.forEach((slide) => slide.classList.remove('active'));
            slides[index].classList.add('active');
            slider.style.transform = `translateX(-${index * slides[0].clientWidth}px)`;
        }
    
        function updateButtons() {
            prevBtn.disabled = currentSlide === 0;
            if (currentSlide === slides.length - 1) {
                nextBtn.style.display = 'none';
                completeBtn.style.display = 'block';
            } else {
                nextBtn.style.display = 'block';
                completeBtn.style.display = 'none';
            }
        }

        completeBtn.addEventListener('click', function () {
            window.location.href = 'http://localhost/accounts/signup'; // 遷移先のHTMLファイル名に置き換えてください
        });
    
        function updatePagination() {
            dots.forEach((dotContainer, index) => {
                const dot = dotContainer.querySelector('.dot');
                dot.classList.toggle('active', index === currentSlide);
            });
        }
    
        function showCompleteButton() {
            completeBtn.style.display = currentSlide === slides.length - 1 ? 'block' : 'none';
        }
    
        nextBtn.addEventListener('click', function () {
            if (currentSlide < slides.length - 1) {
                currentSlide++;
                showSlide(currentSlide);
                updateButtons();
                updatePagination();
                showCompleteButton();
            }
        });
    
        prevBtn.addEventListener('click', function () {
            if (currentSlide > 0) {
                currentSlide--;
                showSlide(currentSlide);
                updateButtons();
                updatePagination();
                showCompleteButton();
            }
        });
    
        dots.forEach((dotContainer, index) => {
            const dot = dotContainer.querySelector('.dot');
            dot.addEventListener('click', function () {
                currentSlide = index;
                showSlide(currentSlide);
                updateButtons();
                updatePagination();
                showCompleteButton();
            });
        });
    });
    
    // フッターを削除
    var footer = document.querySelector('footer');
    footer.parentNode.removeChild(footer);
</script>
{% endblock %}
